<div id="page" class="container">
					<div id="page-bgtop">
						<div id="page-bgbtm">
							<div id="wide-content">
								<div class="post">
									<h2 class="title">Bledsoe Rentals Presents The New ermator a600 hepa air scrubber!</h2>
									<div class="entry">
										<div id="box1">
											<h3 class="text1">ERMATOR A600 HEPA AIR SCRUBBER</h3>
											<p class="text2">RATE: $42 DAILY / $168 WEEKLY / $3.10 per Filter</p>
											<p><img src="images/equipment/A600.jpg" alt="" width="204" height="219" class="alignleft" />Constructed using a sturdy, compact cabinet, the Model A600 is a quiet operating air scrubber with two airflow speeds of 300 and 600 CFM. The airflow is directed upwards to avoid disturbing dust on surfaces. Each HEPA filter installed in the model A600 is individually tested and certified at an efficiency rate of 99.99% at .3 microns. A warning light indicates when the washable primary filter is 75% clogged and requires cleaning.

												
												
												<p><img src="images/equipment/A600-design-features.jpg" alt="" width="550" height="743" class="aligncenter" />
													
													
													<br>
													<table class="stats" cellspacing="0">      
														
														<tr>
															<td class="hed" align="center" colspan="1">-</p></strong></td>
															<td class="hed" colspan="2">Techniacal Specifications</p></strong></td>
														</tr>
														<tr><td>-</td>
															<td>Motor (HP) </td>
															<td>.25</td>
															
														</tr>
														<tr><td>-</td>
															<td>Amps</td>
															<td>2.1</td>
															
														</tr>
														
														
														<tr><td>-</td>
															<td>Air Flow Capacity</td>
															<td>2-speed; 300/600 CFM</td>
															
														</tr>
														<tr><td>-</td>
															<td>Primary Filter</td>
															<td>Disposable Polyester Media</td>
															
														</tr>
														<tr><td>-</td>
															<td>Secondary HEPA Filter</td>
															<td> 	99.99% efficient @ .3 microns</td>
															
														</tr>
														<tr><td>-</td>
															<td>Secondary HEPA Filter (ft2) </td>
															<td> 	56</td>
															
														</tr>
														<tr><td>-</td>
															<td>Clogged Filter Indicator</td>
															<td> 	Orange Indicator Light</td>
															
														</tr>
														<tr><td>-</td>
															<td>Leakage/Broken HEPA Filter Indicator</td>
															<td>Red Indicator Light</td>
															
														</tr>
														<tr><td>-</td>
															<td>Handles</td>
															<td>one, top</td>
															
														</tr>
														<tr><td>-</td>
															<td>Net Weight</td>
															<td>41</td>
															
														</tr>
														<tr><td>-</td>
															<td>Dimensions (LxWxH) </td>
															<td>15" x 17" x 17"</td>
														</tr>
														
														
													</table>
													
													
													
													<br />
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>