<div id="page" class="container">
					<div id="page-bgtop">
						<div id="page-bgbtm">
							<div id="wide-content">
								<div class="post">
									<h2 class="title">Bledsoe Rentals has all your Carpet Restoration and Cleaning Supplies!</h2>
									<div class="entry">
										<div id="box1">
											<h3 class="text1">Clean your carpets like never before!</h3>
											<p class="text2">An all new system of cleaners and chemicals at Bledsoe Rentals!</p>
											<p><img src="images/mini-pro.jpg" alt="" width="216" height="330" class="alignleft" />

												<h2>About:</h2>Cleaning your carpets has never been easier. With our all new carpet cleaners and chemicals, you can get them back to shape! We are carrying commerical grade cleaners now, that can be used for different stages of soiled carpets.<p><h2>Products used in this Guide:</h2></p>
												
												<ol><li>Windsor Carpet Extractor $28 3/hr or $34 a Day</li>
													<li>Suprox Concentrate 1 Gallon $34.99</li>
													<li>Carpet Pre-Spray 1 Quart $15.99</li>
													<li>Carpet Spotter Aerosol Can $12.99</li>
													<li>Carpet PH Rinse $1.75 per packet</li>
												</ol><p style="padding-bottom: 75px;"></p>
												
												<p><h2>For Average Soiled Areas:</h2></p>
												<ol><li>Dilute the Suprox Concentrate 3 oz. Per gallon or 1 part to 40 parts water in solution tank of extractor.</li>
													<li>While applying solution,  and brush on and vacuum off, go over area to be cleaned in one direction.  This will give the chemical time to work most effectively and agitate the solution into the carpet fibers.</li>
													<li>Drain Tank and refill with clean water and a packet of Carpet PH Rinse and go over the carpet in the opposite direction while applying solution, with brush and vacuum on.  Before beginning this step you will use the provided Defoamer spray bottle to treat the Carpet Cleaning Machine.  Simply spray inside the recover hose and inside the tank with Defoamer before extracting.  (If you are operating a model that does not allow you to spray the inside of the recovery hose, simply spray your recovery tank, and spray multiple sprays(5-7) of Defoamer on the carpet for the first five feet that you will make your first pass with.  Go over the carpet in the opposite direction while applying solution.  This time BOTH the brush and the vacuum should be on as you will be extracting the water in the carpet during this step.</li>
													<li>Dry carpet using some type of air movement…fan, ceiling fan, etc.</li>
													<li>Empty machine of any remaining cleaning solution and rinse out dirty water tank.</li></ol>
													<p><h3 class="red">Note: 1 gallon of Suprox Concentrate makes 40 gallons of diluted product (at 3 oz per gallon of water), 40 gallons of diluted product will clean approximately 16,000 square feet.</h3></p>

													<p><h2>For Lightly Soiled Areas:</h2></p>
													<ol><li>Dilute Carpet Pre-Spray and extract by filling tank on extractor with clean water and pouring one quart of concentrate in the tank.  One tank will pre treat 1,600 square ft. of carpet.</li>
														<li>Follow same directions as above in step #2</li>
														<li>Follow same direction as above in step #3</li>
														<li>Follow same direction as above in step #4</li>
														<li>Follow same directions as above in step #5</li></ol>



														<p><h2>Heavily Soiled Areas:</h2></p>
														<ol><li>Dilute Carpet Pre-Spray and extract by filling tank on extractor with clean water and pouring one quart of concentrate in the tank.  One tank will pre treat 1,600 square ft. of carpet.</li>
															<li>While applying solution,  and brush on and vacuum off, go over area to be cleaned in one direction.  This will give the chemical time to work most effectively and agitate the solution into the carpet fibers.</li>
															<li>Drain the tank of remaining Pre-Spray Cleaner.</li>
															<li>Dilute the Suprox Concentrate 3 oz. Per gallon or 1 part to 40 parts water in solution tank of extractor.</li>
															<li>While applying solution,  and brush on and vacuum off, go over area to be cleaned in the opposite direction that you went with the Pre-Spray.  This will give the chemical time to work most effectively and agitate the solution into the carpet fibers from the other side.</li>
															<li>Drain Tank and refill with clean water and a packet of Carpet PH Rinse.  Before beginning this step you will use the provided Defoamer spray bottle to treat the Carpet Cleaning Machine.  Simply spray inside the recover hose and inside the tank with Defoamer before extracting.  (If you are operating a model that does not allow you to spray the inside of the recovery hose, simply spray your recovery tank, and spray multiple sprays(5-7) of Defoamer on the carpet for the first five feet that you will make your first pass with.  Go over the carpet in the opposite direction while applying solution.  This time BOTH the brush and the vacuum should be on as you will be extracting the water in the carpet during this step. </li>
															<li>Dry carpet using some type of air movement…fan, ceiling fan, etc.</li>
															<li> Empty machine of any remaining cleaning solution and rinse out dirty water tank.</li></ol>

															<p><h3 color: navy;>Note: 1 gallon of Suprox Concentrate makes 40 gallons of diluted product (at 3 oz per gallon of water), 40 gallons of diluted product will clean approximately 16,000 square feet.</h3></p>

															<p><h2>Carpet Spotter Aerosol</h2></p>
															Designed to pre-treat oil based stains like food greasy foot stains, carpet coming in from shop areas, etc.
															<ol><li>Apply using aerosol can to area and extract back out with Carpet PH rinse in extractor.</li></ol>

															
															
															<br />
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>