<div id="page" class="container">
					<div id="page-bgtop">
						<div id="page-bgbtm">
							<div id="wide-content">
								<div class="post">
									<h2 class="title">Bledsoe Rentals Presents The New Dirt Dragon!</h2>
									<div class="entry">
										<div id="box1">
											<h3 class="text1">The Dirt Dragon Cleaning Machine</h3>
											<p class="text2">RATE: $38 3HRS / $51 DAILY / $204 WEEKLY </p>
											<p><img src="images/equipment/dirt-dragon.jpg" alt="" width="200" height="289" class="alignleft" />Dirt Dragon Wood Floor
												Cleaning Machine
												makes wood floor care
												easy. This compact and
												powerful machine deep
												cleans wood floors without
												damaging the finish, and its
												exclusive water containment
												vacuum system extracts the
												toughest dirt and surface
												contaminants while leaving
												a dry floor immediately after
												use. The Basic Coatings®
												maintenance products and
												dust-free recoating systems
												are profitable additions to
												any cleaning service or wood
												floor contractor. Wood floor
												care that’s easy and worry free.</p>

												<p>Dirt Dragon has adjustable
													head pressure and variable water flow so the
													machine can adapt to the requirements of any wood
													floor type. Rear caster wheels provide superior
													maneuverability around objects and the squeegee
													assemblies are easily removed for cleaning.</p>

													
													<p></p>
													<iframe width="560" height="315" src="http://www.youtube.com/embed/FBxF8Altkxk" frameborder="0" allowfullscreen></iframe>
													
													<p></p><h2>KEY FEATURES</h2><ul><p></p>
													<li>Cylindrical brush specifically engineered to clean wood floors without damaging the finish.</li>
													<li>Adjustable solution control valve for all types of wood flooring.</li>
													<li>Exclusive water containment/vacuum system to leave floors completely dry.</li>
													<li>Visual solution level gauge for accurate dilution of cleaning products.</li>
													<li>Adjustable head pressure to accommodate any floor type.</li>
													<li>Rear casters for superior maneuverability</li>
													<li>Easy to remove squeegee assemblies for simple maintenance.</li>
													<li>Folding ergonomic handle for compact storage.</li>
													<li>Offset brush for easy toe-kick and edge cleaning.</li>
													<li>Removable tanks for easy filling, emptying, and clean-up.</li>
												</ul>
												<h2>APPLICATIONS</h2><ul><p></p>
												<li>Intense cleaning of wood floors</li>
												<li>Required preparation for TyKote Dust-Free Refinishing</li>
												<li>Textured or hand-scraped floors</li>
											</ul>
											<br>
											<table class="stats" cellspacing="0">      
												
												<tr>
													<td class="hed" align="center" colspan="1">-</p></strong></td>
													<td class="hed" colspan="2">Techniacal Specifications</p></strong></td>
												</tr>
												<tr><td>-</td>
													<td>Clean Path </td>
													<td>15"</td>
													
												</tr>
												<tr><td>-</td>
													<td>Brush System</td>
													<td>Cylindrical</td>
													
												</tr>
												
												
												<tr><td>-</td>
													<td>Brush Speed</td>
													<td>800 RPM</td>
													
												</tr>
												<tr><td>-</td>
													<td>Vacuum Motor</td>
													<td>1.0 HP</td>
													
												</tr>
												<tr><td>-</td>
													<td>Water Lift</td>
													<td>72”</td>
													
												</tr>
												<tr><td>-</td>
													<td>Power </td>
													<td>120 Volt AC</td>
													
												</tr>
												<tr><td>-</td>
													<td>Solution Tank</td>
													<td>3 Gal.</td>
													
												</tr>
												<tr><td>-</td>
													<td>Recovery Tank</td>
													<td>3.25 Gal</td>
													
												</tr>
												<tr><td>-</td>
													<td>Length</td>
													<td>31”</td>
													
												</tr>
												<tr><td>-</td>
													<td>Width</td>
													<td>19"</td>
													
												</tr>
												<tr><td>-</td>
													<td>Height </td>
													<td>22”</td>
												</tr>
												<tr><td>-</td>
													<td>Weight </td>
													<td>84 Lbs.</td>
													
												</tr>
												<tr><td>-</td>
													<td>Productivity </td>
													<td>10,000 sq. ft./hour</td>
													
												</tr>
												
											</table>
											
											
											
											<br />
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>