<div id="wrapper-bg">
		<div id="wrapper-bgtop">
			<div id="wrapper-bgbtm">
				<div id="page" class="container">
					<div id="page-bgtop">
						<div id="page-bgbtm">
							<div id="wide-content">
								<div class="post">
									<h2 class="title">Bledsoe Rentals Presents The New Windsor iScrub 20"!</h2>
									<div class="entry">
										<div id="box1">
											<h3 class="text1">Chariot iScrub The Evolution of scrubbing!</h3>
											<p class="text2">RATE: $122 3HRS / $186 DAILY / $742 WEEKLY </p>
											<p><img src="images/equipment/iscrub.jpg" alt="" width="299" height="418" class="alignleft" />Welcome to the Evolution of Scrubbing. Compared to walk-behind
												scrubbers, the Chariot iScrub 20 delivers up to 50% in operational
												cost savings. The productivity of the Chariot iScrub 20 out performs
												all walk-behind scrubbers ranging in size from 17" to 26".
												Why walk when you can ride? You'll never walk
												behind again.
												<p>With a lower investment cost, higher production rate and simplicity of maintenance, Windsor's Chariot 2 iScrub 20 family meets and exceeds all expectations with up to 58% operational savings versus competitively sized walk-behind commercial scrubbers.</p>
												<p></p><h2>KEY FEATURES</h2><ul><p></p>

												<ul><li>Designed with Windsor's Chariot Patented Stand-On Cleaning Technology* that significantly increases productivity and cleaning quality.</li>
													<li>Swiveling no-adjustment squeegee, with Aqua-Mizer functionality that ensures 100% water pick up for dry, safe floors</li>
													<li>Design and size that provides remarkable maneuverability, and best-in-industry 360º visibility that allows the operator to see more of the cleaning area</li>
													<li> Intuitive control panel with two transport speeds and two operating speeds, and an easy-to-clean, fully accessible hygienic recovery tank</li>
													<li>Quiet operation for daytime cleaning</li>
													<li> External fill port for quick access to fill solution tank</li>
													<li> On-board charger on AGM models that can be used with any standard wall outlet</li>


												</ul>
												<p style="padding-bottom: 30px;"></p>
												<p></p>
												<iframe width="560" height="315" src="http://www.youtube.com/embed/BAeqMswIKoM" frameborder="0" allowfullscreen></iframe>






												<br />
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>