<div id="page" class="container">
	<div id="page-bgtop">
		<div id="page-bgbtm">
			<div id="wide-content">
				<div class="post">
					<h2 class="title">Bledsoe Rentals has all your hardwood floor refinishing tools!</h2>
					<div class="entry">
						<div id="box1">
							<h3 class="text1">Refinish Your Hardwood Floor!</h3>
							<p class="text2">Need to get your hardwood floors in shape? We can help!</p>
							<p><img src="images/sander-sm.jpg" alt="" width="475" height="317" class="alignleft" />

								<h2>About:</h2> Hardwood finish, just like any type of flooring, wears over-time due to normal wear and tear.  The process is simple with the proper tools, product, and instruction.  											Refinishing not only allows you to bring that brand new, rich finish to your floor, it also gives you an opportunity to change your stain color, and remove any imperfections on the 						 											floor due to gouging or water damage.<p style="padding-bottom: 175px;"></p>
								
								<p><h2>Shopping list for this system:</h2></p>
								
								<ol><li>Drum Sander</li>
									<li>Edging Sander</li>
									<li>Finish Sander</li>
									<li>Sand Paper for all Sanders </li>
									<li>Micro-fiber mop</li>
									<li>Stain (If desired)</li>
									<li>Vacuum </li>
									<li>Gallon of Universal Sealer per 600-700 sq. feet.</li>
									<li>Applicators</li>
									<li>Gallon Emulsion Finish per 500 sq. feet.</li></ol>

									<p><h2>How to:</h2></p>
									<ol><li>Prepare your house and floor.  First, shut off your air conditioner or heat.  You do not want air moving through the house and scattering dust particles, especially once you put your finish down.  Next, remove all furniture and items you may need from the area you are about to start sanding.  You will not be able to access items in that room for multiple hour periods once the finishing process begins.  If you have quarter-round on your baseboards, remove the quarter-round until the floors are complete.  (This will allow for better edging, and keep the sander from damaging the quarter-round.)</li>
										<li>Begin sanding the floor.  The first step in sanding your floor is the most important step.  First, determine if your floor needs some leveling done.  Most floors, especially if they have never been refinished, need to be leveled.  Over time, as the wood matures the boards of the floor can cup or bow.  Even the slightest cupping or bowing needs to be corrected.  Failing to do so will ruin the refinishing process.  </li></ol>




										<p><h2>Step 1.</h2></p>

										To start use the edge sander with 24 grit paper to sand the edges of your floor. You do not need to sand further out then one your main floor sander will cover.  The edge sander is aggressive so you can move at a moderate speed.  Make sure to not hold this sander in one place, otherwise it can create ruts.


										<p><h2>Step 2.</h2></p>
										Once you have finished sanding your edge you may begin sanding the main body of the floor.  The purpose of your first pass is to level your floor.  Start with 24 grit sand paper on your drum sander.  Begin sanding your floor at approximately a 10 degree angle from your boards, as opposed to going directly with the grain.  You will do this for the first past only.  Going slightly against the grain for the first pass will level your floor.  Throughout the whole process, and especially while using the drum sander, sand at a slow and consistent speed.  The drum sander is a very aggressive sander, so consistency is key.  If you need to stop for any reason, shut off the sander before doing so.  Keeping this sander in one place will create a rut in your floor.


										<p><h2>Step 3.</h2></p>

										Once you have made your first pass at approximately 10 degrees, check to make sure the cupping or bowing is out of the floor.  If it appears the boards are even and level, then continue to make a second pass, however on your second pass go directly with the grain of the wood.  Do not go at a 10 degree angle.  If it appears that your boards are not level, then repeat step one until they level out.  A good way to tell if your boards are level is to see if all of the finish is off of the floor.  Bowing and cupping creates low spots which the sander will not hit unless the floor is level.

										<p><h2>3.	Begin the finish sanding process.</h2></p>  Return your drum sander to the store and pick-up the U-Sand finishing sander.  This sander is what you will use for the rest of your sanding process.

										<p><h2>Step 1.</h2></p>

										Clean your floor well.  Do NOT use water.  Thoroughly broom your floor and collect any debris into a dust pan.  If you have a vacuum with a hard floor attachment, use that as well.  Once you have done that, take a micro-fiber mop and wipe down your whole floor with it.  You can add a little water to the micro-fiber mop to help gather debris, however, make sure you ring out the head completely before putting it on your floor.  The micro-fiber head should be no more than slightly damp.  Too much water can damage your exposed floor.
										It is important to clean your floor as well as possible between each grit of sand paper.  Pieces of sand are expelled onto your floor from the sanding process.  If larger grit sands are left on the floor as you move to finer sands, it will result in swirling in your floor once your finish is applied.

										<p><h2>Step 2. </h2></p>

										Repeat the edge sander step from the first pass, but this time you will use a 36 grit sand paper.


										<p><h2>Step 3.</h2></p>

										Sand your entire floor with your U-Sand finish sander with 36 grit paper.  With each pass on the floor make approximately half the width of the machine overlap from the previous pass.  Once you have covered the whole floor, repeat this step one more time.

										<p><h2>Step 4.</h2></p>

										Clean your floor again.  Repeat the steps to do so stated above.

										<p><h2>Step 5.</h2></p>

										Repeat the edge sander step from the first pass, but this time you will use a 60 grit sand paper.

										<p><h2>Step 6.</h2></p>

										Sand your entire floor with your U-Sand finish sander with 60 grit paper.  With each pass on the floor make approximately half the width of the machine overlap from the previous pass.  Once you have covered the whole floor, repeat this step one more time.

										<p><h2>Step 7.</h2></p>


										Clean your floor again.  Repeat the steps to do so stated above.

										<p><h2>Step 8.</h2></p>

										Repeat the edge sander step from the first pass, but this time you will use an 80 grit sand paper.

										<p><h2>Step 9.</h2></p>

										Sand your entire floor with your U-Sand finish sander with 80 grit paper.  With each pass on the floor make approximately half the width of the machine overlap from the previous pass.  Once you have covered the whole floor, repeat this step one more time.

										<p><h2>4.	Staining your floor.</h2></p>  If you choose to use a stain on your floor, follow the application directions exactly as stated by the manufacture on the stain product you choose.  Before you do this, clean your floor as you did during the sanding process.
										<p><h2>5.	Sealing the floor.</h2></p>  This step is between staining and putting on your floor finish.  This step will ensure that your finish will stay adhered to your floor over time and that your floor won’t become easily damaged by moisture.  This step is necessary.

										<p><h2>Step 1.</h2></p>

										To do this you will need universal sealer.  This product is quick and easy to apply.  This can be applied by using a short nap roller or pro finisher lambs wool applicator.  Apply a thin coat of sealer to the surface of the floor in consistent level strokes.  Apply evenly to floor in the direction of the grain.  Each gallon should cover 600-700 square feet.  Allow the sealer to dry 30-45 minutes before starting your finishing process.

										<p><h2>6.	Finishing the floor. </h2></p> Please see Emulsion instruction sheet on how to apply your finish to your floor.  Once this step is complete, you will have beautiful, revitalized hardwood floors.
										
										
										
										<br />
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>