<div id="page" class="container">
	<div id="page-bgtop">
		<div id="page-bgbtm">
			<div id="wide-content">
				<div class="post">
					<h2 class="title">Bledsoe Rentals Presents The Windsor Mini Pro!</h2>
					<div class="entry">
						<div id="box1">
							<h3 class="text1">Windsor Mini Pro Commercial Carpet Extractor</h3>
							<p class="text2">RATE: $28 3HRS / $34 DAILY / $136 WEEKLY </p>
							<p><img src="images/mini-pro.jpg" alt="" width="216" height="330" class="alignleft" />


								<p></p><h2>KEY FEATURES</h2><ul><p></p>
								<li>Productively clean and freshen up carpet surfaces with less effort.</li>
								<li>4 gallon (15 l) solution and recovery tank for home or commercial cleaning.</li>
								<li>Solution tank designed with no-mess splash back protection and protective filter screen to remove debris.</li>
								<li> Designed for minimal service.</li>
								<li>Comfort grip, adjustable handle with one-button activation and ergonomically positioned handle for balanced lifting.</li>
								<li>Fold-down handle for easy transportation in any vehicle.</li>
								<li>Optional hose and hand tool to clean upholstery, stairs, autos, motor homes, boats and other small areas.</li>
								<li> Quiet, lightweight, easy to use.</li>
								<li>Vac shoe with wrap around soft-sided bumper for surface protection.</li>
								<li>Large 10" non-marking wheels for easy transport and maneuverability.</li>
								<li>High performance vacuum motor for faster drying time.</li>
								<li>On-board holder for spotter/pre-spray bottle.</li>
							</ul>

							<div style="padding-bottom: 50px;">

							</div>
							<p>
									<img src="images/equipment/mini-op.jpg" alt="" width="290" height="165" class="alignleft" />
									<p>Simple Operation.</p>
							<div style="padding-bottom: 130px;"></div>
									<p><img src="images/equipment/mini-vac.jpg" alt="" width="285" height="157" class="alignleft" />
										<p>Wacuum Shoe with wrap around soft sided bumper for surface protection. </p><p style="padding-bottom: 130px;"></p>
										<p><img src="images/equipment/mini-wheel.jpg" alt="" width="276" height="155" class="alignleft" />
											<p>Large 10" non-marking wheels for easy transport and maneuverability.<p style="padding-bottom: 130px;"></p>
											<p><img src="images/equipment/mini-brush.jpg" alt="" width="295" height="170" class="alignleft" />
												<p>Floating brush with Perform Alert wear indicators.<p style="padding-bottom: 130px;"></p>
												<p><img src="images/equipment/mini-motor.jpg" alt="" width="295" height="167" class="alignleft" />
													<p>High performance vacuum motor for faster drying time.<p style="padding-bottom: 130px;"></p>

													<br>
														<table class="stats" cellspacing="0">      

															<tr>
																<td class="hed" align="center" colspan="1">-</p></strong></td>
																<td class="hed" colspan="2">Techniacal Specifications</p></strong></td>
															</tr>

															<tr><td>-</td>
																<td>Brush Width</td>
																<td>10.5"</td>

															</tr>
															<tr><td>-</td>
																<td>Vacuum Motor</td>
																<td>3-Stage 1.5 HP</td>

															</tr>

															<tr><td>-</td>
																<td>Power </td>
																<td>120 Volt AC</td>

															</tr>
															<tr><td>-</td>
																<td>Solution Tank</td>
																<td>4 Gal.</td>

															</tr>
															<tr><td>-</td>
																<td>Recovery Tank</td>
																<td>4.5 Gal</td>

															</tr>
															<tr><td>-</td>
																<td>Length</td>
																<td>36.25”</td>

															</tr>
															<tr><td>-</td>
																<td>Width</td>
																<td>14"</td>

															</tr>
															<tr><td>-</td>
																<td>Height </td>
																<td>30”</td>
															</tr>
															<tr><td>-</td>
																<td>Weight </td>
																<td>79 Lbs.</td>

															</tr>


														</table>



														<br />
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>