<div id="page" class="container two-column2">
					<div id="page-bgtop">
						<div id="page-bgbtm">
							<div id="content">
								<div class="post">
									<h2 class="title">Bledsoe Rentals has been serving you since 1959</h2>
									<div class="entry">
										<div id="box1">
											<h3 class="text1">Our Company History</h3>
											<p class="text2">Quality/Service/Equipment/Advice</p>
											
											<p>Bledsoe Rentals originated in Kansas City, Missouri during the 1940’s under the direction of Mr. John Bledsoe. In 1957 the next store was opened in Overland Park by his son-in-law, Mr. Joel Chambers. In 1959 Mr. Joel Chambers’ brother, Mr. Eugene Chambers opened up a store on Blue Ridge, Raytown MO, with the help of Joel and Kenneth Bledsoe. They used the Bledsoe name, but as a separate entity.</p>

											<p>The Blue Ridge store has grown and expanded steadily since that time and in 1983, it moved to a different location on Blue Ridge. Mr. Eugene Chambers retired from the company in August 1988, selling the business to Mr. Thomas Fouts. Mr. Fouts had been an employee of Bledsoe Rentals since 1970, and Eugene felt he had the knowledge and experience to continue the company’s growth into the next century. Just one month after acquiring the Blue Ridge location, Mr. Fouts acquired the Olathe, Kansas location from Mr. Joel Chambers, who had retired due to health concerns.</p>

											<p>In December of 1997, Mr. Fouts acquired Lee’s Summit Rental from retiring owner Mr. Floyd Brumley. Ground was broken in April of 1998 for the Lee’s Summit store’s new location on Douglas Street. The building was completed and the store moved to that Facility in December 1998. In 2007 ground was broken on the south side of Lee’s Summit for a new location for the Blue Ridge location. In 2008 the Blue Ridge store moved into its new location in Lee’s Summit on South 291 HWY.</p>

											<p>Since 1988 Bledsoe Rentals, under the leadership of Thomas Fouts, has continually grown at a steady pace. The organization has worked together as one, never forgetting to provide the QUALITY, SERVICE, EQUIPMENT, and ADVICE that has made Bledsoe Rentals a household word for the last six decades.</p>

											
										</div>
									</div>
									
								</div>
							</div>
							<div id="sidebar">
								<div id="box4">
									<h2>Our Staff</h2>
									<div class="content">
										<ul>
											<li>Thomas Fouts - Owner</li>
											<li>Adam Fouts - President</li>
											
											
											<li>Jim Todd - Sales Manager</li> 
											<li>Jonathan Thompson - Purchasing & IT</li>
											<li>William Saunders - Sales</li>
											<li>Mary Kensinger - Accounting</li>
											<li>Jim Fouts - Manager Lee's Summit South</li>
											<li>David Von Holten-Manager Lee's Summit North</li>
											<li>Adam Clark - Manager Olathe</li>
										</ul>
										</div>
									</div>
									<div id="box5">
										<h2></h2>
										<div class="content">
											<ul class="style2">
												
												
											</div>
										</div>
										
										
									</div>
									<div class="clearfix">&nbsp;</div>
								</div>
							</div>
						</div>
					</div>
				</div>