
<div class="two-column2">
	<div id="wrapper-bg">
		<div id="wrapper-bgtop">
			<div id="wrapper-bgbtm">

				<div id="page" class="container">
					<div id="page-bgtop">
						<div id="page-bgbtm">

							<div id="slideshow" class="container">
								<div class="viewer">
									<div class="reel">
										<div class="slide"><img src="images/banner/bounce-banner/ban-pc.jpg" width="940" height="220" alt="" />
											<div class="caption">
												<h2> The Royal Princess Carriage $250 A Day</h2>
												<p></p>
											</div>
											<a href="#/bounce-princess" class="link">Continue reading ...</a>
										</div>
										<div class="slide"><img src="images/banner/bounce-banner/ban-fs.jpg" width="940" height="220" alt="" />
											<div class="caption">
												<h2>The Fire Station Combo Bounce House $250 A Day</h2>
												<p></p>
											</div>
											<a href="/bounce-fh.html" class="link">Continue reading ...</a>
										</div>
										<div class="slide"><img src="images/banner/bounce-banner/ban-tiger.jpg" width="940" height="220" alt="" />
											<div class="caption">
												<h2> The Tiger Belly Bounce House $150 A Day</h2>
												<p></p>
											</div>
											<a href="/bounce-tiger.html" class="link">Continue reading ...</a>
										</div>
										<div class="slide"><img src="images/banner/bounce-banner/ban-cas.jpg" width="940" height="220" alt="" />
											<div class="caption">
												<h2>The Castle Bounce House $150 A Day</h2>
												<p>Choose Between Princess or Knight Theme Panel</p>
											</div>
											<a href="/bounce-castle.html" class="link">Continue reading ...</a>
										</div>
										<div class="slide"><img src="images/banner/bounce-banner/ban-mini.jpg" width="940" height="220" alt="" />
											<div class="caption">
												<h2>Wacky Mini Combo Bounce House $115 A Day</h2>
												<p></p>
											</div>
											<a href="/bounce-wm.html" class="link">Continue reading ...</a>
										</div>

									</div>
								</div>
								<a href="#" class="previous">Previous</a> <a href="#" class="next">Next</a> 
							</div>	

							<div id="switching" ng-switch="subview">
								<div ng-switch-when="main"> 
									<div id="content">

										<div class="post">
											<h2 class="title">Bledsoe Rentals Amusement Rentals - Bounce Houses!</h2>
											<div class="entry">
												<div id="box1">

													<p class="text3">Why our Inflatable Bounces houses</p>
													<p class="text3"> are better than the rest…</p>
													<p class="text3">Call 816-524-4046 to Reserve yours!</p>

													<h3 class="text1">Safety</h3>
													<p><a href="#"><img src="images/bounce/wd.jpg" alt="" width="266" height="167" class="alignleft" /></a><p>Even though we pride ourselves on having the most extravagant inflatable bounce houses in the area, safety is still our number one priority.  When having any special event or party, the last thing you want to happen is have someone get hurt.</p>
													<p>Every material used in our inflatables was engineered with safety and quality in mind.  The materials used to create our inflatables are both lead-safe and flame-retardant.   Many of the vinyl’s used to create other manufactures bounces houses are made with toxic chemicals and are not resistant to fire.  </p> 

													<p>Our inflatables also include features such as Finger-Safe Netting and sun shades.  These features help to prevent children from flipping and causing injury.  This is a must-have in any inflatable.</p>
													<p>One of the most common concerns with inflatables is that the blower used to keep the bounce house inflated will stop working.  This can happen due to a power outage, the blower becoming unplugged, or kids tampering with the blower and shutting it off.  The last thing you want to happen is for the inflatable to collapse on the participants inside without anyone being alerted.  That is why we send out all of our inflatable rentals with the WATCHDOG Blower-Siren free of charge to the customer.  In the event that the blower should stop working in ANY event, the WATCHDOG Blower-Siren will sound a 120-decible siren that will let all participants in and outside of the inflatable know that the blower is not operating which should allow participants enough to time to exit the inflatable without harm.</p>
													<h3 class="text1">More FUN</h3>
													<img src="images/bounce/fs-1.jpg" alt="" width="303" height="219" class="alignright" /><p>There is no expense spared in the construction of our inflatables.  Our inflatables are some of the only inflatables designed with 18oz vinyl as well as high-quality, high-powered blowers.  By having thicker vinyl and stronger blowers, it creates a firmer surface in the bounce areas and slides of our inflatables.  By having a firmer area, you create better bounce and smoother sliding.  Many of our competitions bouncers are created with low-grade, thin vinyl or fabric that is being operated with under-powered blowers.  This creates more of a “sinking” factor when stepped/jumped on which means less bounce.  Simply put, less bounce equals less fun!</p>
													<h3 class="text1">WOW Factor</h3>
													<p><img src="images/bounce/princess-2.jpg" alt="" width="328" height="174" class="alignleft" /><p>The whole point of renting an inflatable is to create a memorable and fun experience.  So why settle for a dull inflatable that won’t stand out in people’s minds for years to come.  Cutting Edge N-Flatables has a dedicated art department to design their inflatables to create this sort of experience, and it shows.  Renting one of our unique inflatables will not only make your event or party truly special, but your attendee’s will leave buzzing for days about it.</p>
													<h3 class="text1">Sanitation</h3>
													<p>After each and EVERY rental, we set up our inflatables and fully clean and disinfect them before storing them.  Our trained, professional staff uses the proper cleaners in 											order to ensure that you are receiving a fully cleaned unit.  For an item that will rent hundreds of times with thousands of people using it, it is important that it is cleaned each and every rental to prevent disease.  Do you want to trust someone who rents these out of their home to put forth this much effort to clean the inflatable you are about to rent?</p>

												</p>


												<table class="stats" cellspacing="0">      

													<tr>
														<td class="hed" align="center" colspan="1">-</p></strong></td>
														<td class="hed" colspan="1">Description</p></strong></td>
														<td class="hed" colspan="1">Minimum (3 hrs)</p></strong></td>
														<td class="hed" colspan="1">Daily</p></strong></td>
														<td class="hed" colspan="1">Weekly</p></strong></td>
													</tr>

													<tr><td>-</td>
														<td>Cotton Candy Floss Machine</td>
														<td></td>
														<td>$77.00</td>
														<td></td>
													</tr>
													<tr><td>-</td>
														<td>Fire Station Combo</td>
														<td></td>
														<td>$255.00</td>
														<td></td>
													</tr>
													<tr><td>-</td>
														<td>Frozen Drink Machine</td>
														<td></td>
														<td>$77.00</td>
														<td></td>
													</tr>

													<tr><td>-</td>
														<td>Popcorn Popper 6oz</td>
														<td></td>
														<td>$77.00</td>
														<td></td>
													</tr>
													<tr><td>-</td>
														<td>Princess Carriage Combo</td>
														<td></td>
														<td>$255.00</td>
														<td></td>
													</tr>
													<tr><td>-</td>
														<td>Shaved Ice Machine Polar Pete</td>
														<td></td>
														<td>$56.00</td>
														<td></td>
													</tr>
													<tr><td>-</td>
														<td>Tiger Belly Bouncer</td>
														<td></td>
														<td>$153.00</td>
														<td></td>
													</tr>
													<tr><td>-</td>
														<td>Wacky Castle Bouncer</td>
														<td></td>
														<td>$153.00</td>
														<td></td>
													</tr>
													<tr><td>-</td>
														<td>Wacky Space Saver Combo</td>
														<td></td>
														<td>$117.00</td>
														<td></td>
													</tr>

													<tr><td>-</td>
														<td>CHAIR,    PLASTIC FOLDING </td>
														<td>&nbsp;</td>
														<td>$1 </td>
														<td>$2.50</td>
													</tr>
													<tr><td>-</td>
														<td>CLOTHES RACK </td>
														<td>&nbsp;</td>
														<td>$13 </td>
														<td>$25 </td>
													</tr>
													<tr><td>-</td>
														<td>COFFEE URN    - 100 CUP </td>
														<td>&nbsp;</td>
														<td>$16 </td>
														<td>$32 </td>
													</tr>
													<tr><td>-</td>
														<td>COOLER -    SUPER </td>
														<td>&nbsp;</td>
														<td>$13 </td>
														<td>$38</td>
													</tr>
													<tr><td>-</td>
														<td>TABLE -    BANQUET, 6 FT. </td>
														<td>&nbsp;</td>
														<td>$7 </td>
														<td>$20 </td>
													</tr>
													<tr><td>-</td>
														<td>TABLE -    BANQUET, 8 FT. </td>
														<td>&nbsp;</td>
														<td>$7 </td>
														<td>$20 </td>
													</tr>
													<tr><td>-</td>
														<td>TABLE    - BANQUET, 5 FT. ROUND </td>
														<td>&nbsp;</td>
														<td>$8 </td>
														<td>$23 </td>
													</tr>
												</table>
											</div>
										</div>
									</div></div>

									<div id="sidebar">
										<div id="box4">
											<h2>Princess Carriage Combo</h2>
											<div class="content">
												<p><a href="" ng-click="princess()"><img src="images/bounce/princ-sm.jpg" width="215" height="275" alt="" /></a></p>

											</div>
										</div>
										<div id="box4">
											<h2>Fire Station Combo</h2>
											<div class="content">
												<p><a href="/bounce-fh.html"><img src="images/bounce/fs.jpg" width="215" height="275" alt="" /></a></p>
												<p></p>
											</div>
										</div>
										<div id="box4">
											<h2>Tiger Belly Bouncer</h2>
											<div class="content">
												<p><a href="/bounce-tiger.html"><img src="images/bounce/tiger.jpg" width="215" height="275" alt="" /></a></p>
												<p></p>
											</div>
										</div>
										<div id="box4">
											<h2>Wacky Castle Bouncer</h2>
											<div class="content">
												<p><a href="/bounce-castle.html"><img src="images/bounce/castle.jpg" width="215" height="275" alt="" /></a></p>
												<p></p>
											</div>
										</div>
										<div id="box4">
											<h2>Wacky Mini Bouncer</h2>
											<div class="content">
												<p><a href="/bounce-wm.html"><img src="images/bounce/mini.jpg" width="215" height="275" alt="" /></a></p>
												<p></p>
											</div>


										</div>
									</div>
									<div class="clearfix">&nbsp;</div>
								</div>
								<div ng-switch-when="princess">
									<h3>Put princess view here!</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>		

<script src="scripts/jquery-1.7.1.min.js"></script>
<script src="scripts/jquery.slidertron-0.2.1.js"></script>
<script src="scripts/init.js"></script>


</div>


