
<div class="two-column2">
	<div id="page" class="container">
		<div id="page-bgtop">
			<div id="page-bgbtm">

				<div id="slideshow" class="container">
					<div class="viewer">
						<div class="reel">
							<div class="slide">
								<img src="images/banner/bounce-banner/ban-pc.jpg" width="940" height="220" alt=""/>
								<a href="" ng-click="princess()">
									<div class="caption">
										<h2> The Royal Princess Carriage $250 A Day</h2>
										<p></p>
									</div>
								</a>
							</div>
							<div class="slide">
								<img src="images/banner/bounce-banner/ban-fs.jpg" width="940" height="220" alt="" />
								<a href="" ng-click="firestation()">
									<div class="caption">
										<h2>The Fire Station Combo Bounce House $250 A Day</h2>
										<p></p>
									</div>
								</a>
							</div>
							<div class="slide">
								<img src="images/banner/bounce-banner/ban-tiger.jpg" width="940" height="220" alt="" />
								<a hhref="" ng-click="tigerbelly()">
									<div class="caption">
										<h2> The Tiger Belly Bounce House $150 A Day</h2>
										<p></p>
									</div>
								</a>
							</div>
							<div class="slide">
								<img src="images/banner/bounce-banner/ban-cas.jpg" width="940" height="220" alt="" />
								<a href="" ng-click="wackycastle()">
									<div class="caption">
										<h2>The Castle Bounce House $150 A Day</h2>
										<p>Choose Between Princess or Knight Theme Panel</p>
									</div>
								</a>
							</div>
							<div class="slide">
								<img src="images/banner/bounce-banner/ban-mini.jpg" width="940" height="220" alt="" />
								<a href="" ng-click="wackymini()">
									<div class="caption">
										<h2>Wacky Mini Combo Bounce House $115 A Day</h2>
										<p></p>
									</div>
								</a>
							</div>
						</div>
					</div>
					<a href="#" class="previous">Previous</a> 
					<a href="#" class="next">Next</a> 
				</div>

				<!-- TESTING -->
				
					<!-- 		<div id="content">
					<h2>CONTENT GOES HERE!</h2>
					<div class="switching" ng-switch="subview">
						

						

						<!-- <div ng-switch-when="wackycastle">
							<h1>wacky castle view needs copied</h1>
							<button class="btn-primary" ng-click="mainview()">Back to amusement!</button>
						</div>
						<div ng-switch-when="tigerbelly">
							<h1>Tigerbelly view needs copied</h1>
							<button class="btn-primary" ng-click="mainview()">Back to amusement!</button>
						</div>						
						<div ng-switch-when="wackymini">
							<h1>wacky mini view needs copied</h1>
							<button class="btn-primary" ng-click="mainview()">Back to amusement!</button>
						</div>
						<div ng-switch-when="firestation">									
							<h1>Firestation view needs copied</h1>
							<button class="btn-primary" ng-click="mainview()">Back to amusement!</button>
						</div> -->
						<div id="content" class="main"> 
							<div ng-switch="subview">

								<div ng-switch-when="princess">
									<div class="post" id="princessBg">
										<h2 class="title">Bledsoe Rentals Bounce House Rental Featuring - Princess Carriage Combo</h2>
										<div class="entry">
											<div id="box1">
												

											
													<h3 class="text1"><font color="#FF00FF"> The Royal Princess Carriage</font></h3><h2>$250 A Day</h2>
													<br><br>
													
													<div class="text-bg">
														<p>This bounce and slide combo is perfect for any young royal entourage!

													This combo features a bouncing area, amazingly-detailed digital graphics, a crawl-through, slide area, and child-proof finger-safe netting.</p>
													</div>

												<div class="bounce-holder">
													<div class="alignright"> <!-- orig 415x312 -->
														<img src="images/bounce/pc-feature.jpg" width="332" height="250" alt="">
													</div>
										
													<div id="bouncedims" class="alignleft">
													<ul>
														<li> Height 	15'9"</li>
														<li> Width 	13'6"</li>
														<li> Length 	31'</li>
														<li> Weight
															<li> Slide Landing Height 	6'4" </li>
															<li> Occupancy 	5
																<li> Occupant Min. Height 	34"</li>
																<li> Occupant Max. Height 	60"</li>
																<li> Max. Occupancy Weight 	750 lbs. (150 lbs. ea.)</li>	
															</ul>	
															</div>
															</div>

															<br><br>

															<img src="images/bounce/pc-detail.jpg" alt="" width="416" height="532" class="alignleft" />
															<br>
															<button class="btn-primary" ng-click="mainview()">Back to 	amusement!</button><br><br>
														</div>
													</div>
												</div>	
											</div>



											<div ng-switch-default>
												<div class="post">
													<h2 class="title">Bledsoe Rentals Amusement Rentals - Bounce Houses!</h2>
													<div class="entry">
														Default Entry
														<div id="box1">
															BOX 1
														</div>
													</div>
												</div>	
											</div>	

										</div>						
									</div>
									<!-- </div> -->
									<!-- </div> --> 

									<!-- div id="sidebar">Sidebar</div> -->



									<div id="sidebar">
										<div id="box4">
											<h2>Princess Carriage Combo</h2>
											<div class="content">
												<p><a href="" ng-click="princess()"><img src="images/bounce/princ-sm.jpg" width="215" height="275" alt="" /></a></p>

											</div>
										</div>
										<div id="box4">
											<h2>Fire Station Combo</h2>
											<div class="content">
												<p><a href="" ng-click="firestation()"><img src="images/bounce/fs.jpg" width="215" height="275" alt="" /></a></p>
												<p></p>
											</div>
										</div>
										<div id="box4">
											<h2>Tiger Belly Bouncer</h2>
											<div class="content">
												<p><a href="" ng-click="tigerbelly()"><img src="images/bounce/tiger.jpg" width="215" height="275" alt="" /></a></p>
												<p></p>
											</div>
										</div>
										<div id="box4">
											<h2>Wacky Castle Bouncer</h2>
											<div class="content">
												<p><a href="" ng-click="wackycastle()"><img src="images/bounce/castle.jpg" width="215" height="275" alt="" /></a></p>
												<p></p>
											</div>
										</div>
										<div id="box4">
											<h2>Wacky Mini Bouncer</h2>
											<div class="content">
												<p><a href="" ng-click="wackymini()"><img src="images/bounce/mini.jpg" width="215" height="275" alt="" /></a></p>
												<p></p>
											</div>


										</div>
									</div>
									<div class="clearfix">&nbsp;</div>

								</div>
							</div>
						</div>



						<script src="scripts/jquery-1.7.1.min.js"></script>
						<script src="scripts/jquery.slidertron-0.2.1.js"></script>
						<script src="scripts/init.js"></script>


					</div>

