<div id="page" class="container">
	<div id="page-bgtop">
		<div id="page-bgbtm">

			<div id="slideshow" class="container">
				<div class="viewer">
					<div class="reel">
						<div class="slide"><img src="images/banner/bounce-banner/ban-pc.jpg" width="940" height="220" alt="" />
							<div class="caption">
								<h2> The Royal Princess Carriage $250 A Day</h2>
								<p></p>
							</div>
							<a href="#/bounce-princess" class="link">Continue reading ...</a>
						</div>
						<div class="slide"><img src="images/banner/bounce-banner/ban-fs.jpg" width="940" height="220" alt="" />
							<div class="caption">
								<h2>The Fire Station Combo Bounce House $250 A Day</h2>
								<p></p>
							</div>
							<a href="#/bounce-fh" class="link">Continue reading ...</a>
						</div>
						<div class="slide"><img src="images/banner/bounce-banner/ban-tiger.jpg" width="940" height="220" alt="" />
							<div class="caption">
								<h2> The Tiger Belly Bounce House $150 A Day</h2>
								<p></p>
							</div>
							<a href="#/bounce-tiger" class="link">Continue reading ...</a>
						</div>
						<div class="slide"><img src="images/banner/bounce-banner/ban-cas.jpg" width="940" height="220" alt="" />
							<div class="caption">
								<h2>The Castle Bounce House $150 A Day</h2>
								<p>Choose Between Princess or Knight Theme Panel</p>
							</div>
							<a href="#/bounce-castle" class="link">Continue reading ...</a>
						</div>
						<div class="slide"><img src="images/banner/bounce-banner/ban-mini.jpg" width="940" height="220" alt="" />
							<div class="caption">
								<h2>Wacky Mini Combo Bounce House $115 A Day</h2>
								<p></p>
							</div>
							<a href="#/bounce-wm" class="link">Continue reading ...</a>
						</div>

					</div>
				</div>
				<a href="#" class="previous">Previous</a> <a href="#" class="next">Next</a> </div>		
				<div id="wide-content">
					<div class="post">
						<h2 class="title">Bledsoe Rentals Bounce House Rental Featuring - Princess Carriage Combo</h2>
						<div class="entry">
							<div id="box1">
								<h3 class="text1"><font color="#FF00FF"> The Royal Princess Carriage $250 A Day </h3></font>
								<p class="text2"></p>
								<p><img src="images/bounce/pc-detail.jpg" alt="" width="416" height="532" class="alignleft" /> This bounce and slide combo is perfect for any young royal entourage!

									This combo features a bouncing area, amazingly-detailed digital graphics, a crawl-through, slide area, and child-proof finger-safe netting.

									<ul>
										<li> Height 	15'9"</li>
										<li> Width 	13'6"</li>
										<li> Length 	31'</li>
										<li>Weight
											<li> Slide Landing Height 	6'4" </li>
											<li> Occupancy 	5
												<li> Occupant Min. Height 	34"</li>
												<li> Occupant Max. Height 	60"</li>
												<li> Max. Occupancy Weight 	750 lbs. (150 lbs. ea.)</li>	
											</ul>	<img src="images/bounce/pc-feature.jpg" alt="" width="415" height="312" class="alignright" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="scripts/jquery-1.7.1.min.js"></script>
	<script src="scripts/jquery.slidertron-0.2.1.js"></script>
	<script src="scripts/init.js"></script>
</div>	