<div id="page" class="container">
					<div id="page-bgtop">
						<div id="page-bgbtm">
							
							<div id="slideshow" class="container">
								<div class="viewer">
									<div class="reel">
										<div class="slide"><img src="images/banner/bounce-banner/ban-pc.jpg" width="940" height="220" alt="" />
											<div class="caption">
												<h2> The Royal Princess Carriage $250 A Day</h2>
												<p></p>
											</div>
											<a href="/bounce-princess.html" class="link">Continue reading ...</a>
										</div>
										<div class="slide"><img src="images/banner/bounce-banner/ban-fs.jpg" width="940" height="220" alt="" />
											<div class="caption">
												<h2>The Fire Station Combo Bounce House $250 A Day</h2>
												<p></p>
											</div>
											<a href="/bounce-fh.html" class="link">Continue reading ...</a>
										</div>
										<div class="slide"><img src="images/banner/bounce-banner/ban-tiger.jpg" width="940" height="220" alt="" />
											<div class="caption">
												<h2> The Tiger Belly Bounce House $150 A Day</h2>
												<p></p>
											</div>
											<a href="/bounce-tiger.html" class="link">Continue reading ...</a>
										</div>
										<div class="slide"><img src="images/banner/bounce-banner/ban-cas.jpg" width="940" height="220" alt="" />
											<div class="caption">
												<h2>The Castle Bounce House $150 A Day</h2>
												<p>Choose Between Princess or Knight Theme Panel</p>
											</div>
											<a href="/bounce-castle.html" class="link">Continue reading ...</a>
										</div>
										<div class="slide"><img src="images/banner/bounce-banner/ban-mini.jpg" width="940" height="220" alt="" />
											<div class="caption">
												<h2>Wacky Mini Combo Bounce House $115 A Day</h2>
												<p></p>
											</div>
											<a href="/bounce-wm.html" class="link">Continue reading ...</a>
										</div>
										
									</div>
								</div>
								<a href="#" class="previous">Previous</a> <a href="#" class="next">Next</a> </div>		
								<div id="wide-content">
									<div class="post">
										<h2 class="title">Bledsoe Rentals Bounce House Rental Featuring - Fire Station Combo</h2>
										<div class="entry">
											<div id="box1">
												<h3 class="text1"><font color="#FF0000"> The Fire Station Combo Bounce House $250 A Day</h3></font>
												<p class="text2"></p>
												<p><img src="images/bounce/Fire-Station-Detail.jpg" alt="" width="416" height="532" class="alignleft" /> This bounce and slide combo is perfect for any aspiring Firefighter!

													This combo features a bouncing area, amazingly-detailed digital graphics, a crawl-through, slide area, and child-proof finger-safe netting.

													<ul>
														<li> Height 	12'6"</li>
														<li> Width 	16'6"</li>
														<li> Length 	21'6"</li>
														<li>Weight 398 lbs</li>
														<li> Slide Landing Height 	7'6" </li>
														<li> Occupancy 	6
															<li> Occupant Min. Height 	34"</li>
															<li> Occupant Max. Height 	60"</li>
															<li> Max. Occupancy Weight 	900 lbs. (150 lbs. ea.)</li>	
														</ul>	<img src="images/bounce/fire-station-3.jpg" alt="" width="394" height="274" class="alignright" />
														<img src="images/bounce/fire-station.jpg" alt="" width="760" height="342" class="alignleft" />
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>