

				<div id="page" class="container">
					<div id="page-bgtop">
						<div id="page-bgbtm">
							<div id="slideshow" class="container">
								<div class="viewer">
									<div class="reel">
										<div class="slide"><img src="/images/banner/logo.jpg" width="940" height="220" alt="" />
											<div class="caption">
												<h2>Bledsoe Rentals Since 1959</h2>
												<p>Quality/Service/Equipment/Advice</p>
											</div>
											<a href="" class="link">Continue reading ...</a>
										</div>
										<div class="slide"><img src="/images/banner/bounce.jpg" width="940" height="220" alt="" />
											<div class="caption">
												<h2>BOUNCE HOUSES ARE HERE!</h2>
												<p></p>
											</div>
											<a href="/amusement.html" class="link">Continue reading ...</a>
										</div>
										<div class="slide"><img src="/images/banner/ramboard.jpg" width="940" height="220" alt="" />
											<div class="caption">
												<h2>RAM BOARD NOW AT BLEDSOE RENTALS</h2>
												<p>Temporary Floor Protection</p>
											</div>
											<a href="" class="link">Continue reading ...</a>
										</div>

										<div class="slide"><img src="/images/banner/lavina-banner.jpg" width="940" height="220" alt="" />
											<div class="caption">
												<h2>GRINDING CONCRETE? WE CAN HELP!</h2>
												<p>Full Line of Lavina Concrete Grinders and Polishers in stock!</p>
											</div>
											<a href="/rent-concrete.html" class="link">Continue reading ...</a>
										</div>
										<div class="slide"><img src="/images/banner/jd-banner.jpg" width="940" height="220" alt="" />
											<div class="caption">
												<h2>MOVING DIRT? JOHN DEERE EXCAVATORS AT BLEDSOE RENTALS!</h2>
												<p>John Deere 17D / 35D / 50D Excavators for Rent</p>
											</div>
											<a href="/rent-heq.html" class="link">Continue reading ...</a>
										</div>	
										<div class="slide"><img src="/images/banner/biljax.jpg" width="940" height="220" alt="" />
											<div class="caption">
												<h2>36FT Bil-jax Towable Lifts are back at Bledsoe Rentals! </h2>
												<p> 36ft & 45ft Lifts in Stock for Rental!</p>
											</div>
											<a href="" class="link">Continue reading ...</a>
										</div>								
									</div>
								</div>
								<a href="#" class="previous">Previous</a> <a href="#" class="next">Next</a> </div>

								<div id="content">
									<div class="post">
										<h2 class="title">What's new at Bledsoe Rentals</h2>
										<div class="entry">

											<div id="box1">

												<h3 class="text1">Barreto 30SG Stump Grinder </h3>
												<p class="text2">RATE: 2 HOUR $82 / 3 HOUR $122 / $204 DAILY / $1,020 WEEKLY</p>
												<p><a href="#"><img src=
													"/images/equipment/30sg.jpg" alt="" width="219" height="365" class="alignleft" /></a>
													<p>Try out the new Barreto 30SG Stump Grinder. There are no belts to the cutting wheel. The hydraulic direct drive eliminates the need for expensive drive belts. A brake on the cutting wheel makes for safer operation. The unit will easily fit through 36" gates.  A low center of gravity helps the stability of the unit on uneven terrain. </strong></font></p>



													<p><span><a href="/rental.html" class="link-style1">Rental Equipment</a></span><span><a href="/rent-lawn.html" class="link-style2">Lawn Rental </a></span></p>

												</div>
												<div class="divider">&nbsp;</div>

												<div id="box1">
													<h3 class="text1">Niftylift SD34T 34' Drivable Lift</h3>
													<p class="text2">RATE: 3 HOUR $150 / $235 DAILY / $705 WEEKLY </p>

													<p><a href="/rent-heq.html"><img src="images/equipment/sd34t.jpg" alt="" width="399" height="299" class="center" /></a></p>

												</div>

												<div class="divider">&nbsp;</div>
												<div id="two-columns">
													<div id="column1">
														<h2>Cutting Edge N-Flatables!</h2>
														<ul class="style1">
															<li class="first"><a href="#"><img src="/images/bounce/princ-sm.jpg" width="75" height="113" alt="" /></a>
																<h3>Princess Carriage Combo</h3>
																<p>This bounce and slide combo is perfect for any young royal entourage! This combo features a bouncing area, amazingly-detailed digital graphics, a crawl-through, slide area, and child-proof finger-safe netting. </p>
															</li>
															<li><a href="#"><img src="/images/bounce/fs.jpg" width="75" height="113" alt="" /></a>
																<h3>Fire Station Combo Bounce House</h3>
																<p> This bounce and slide combo is perfect for any aspiring Firefighter! This combo features a bouncing area, amazingly-detailed digital graphics, a crawl-through, slide area, and child-proof finger-safe netting. </p>
															</li>
															<h2>Ram Board Floor Protection</h2>
															<li><a href="#"><img src="images/equipment/RB_RegularRoll.jpg" width="75" height="113" alt="" /></a>
																<h3>Ram Board Contractor</h3>
																<p>Ram Board is a heavy-duty, temporary floor protection engineered for Contractors. Designed with cost and efficiency in mind; it lays out fast and is re-usable. Ram Board is non-staining and utilizes Flex-Fiber™ technology allowing for the proper curing of new floors on jobsites. Exclusive Spill Guard™ technology provides added protection against water, paint, mud, and more.</p>
															</li>
															<li><a href="#"><img src="images/equipment/RB_HomeEditionRoll.jpg" width="75" height="113" alt="" /></a>
																<h3>Ram Board Home Edition</h3>
																<p>Home Edition™ carries the same properties of Ram Board in a smaller (36”x50’), lighter roll.  It is 15% thinner than our professional grade board but remains heavy-duty at 4x the thickness of rosin paper.  It provides re-usable protection for contractors and DIY’ers with smaller projects.</p>
															</li>
														</ul>

													</div>
													<div id="column2">
														<div id="box2">
															<h2>Surface Preparation</h2>
															<p><a href="#"><img src="images/surface.jpg" width="280" height="99" alt="" /></a></p>
															<p>Bledsoe Rentals has the largest selection of surface preparation equipment in Kansas City. 7" Concrete Edge Grinders up to 30" Propane Concrete Grinders. Machines for both concrete preparation and concrete polishing!</p>
															<p><a href="/rent-concrete.html" class="link-style3"><span>Concrete Equipment Rental</span></a></p>
														</div>
														<div class="divider"></div>
														<div id="box3">
															<h2>Refinish Your Wood Floor!</h2>
															<p><a href="/ad-refinish.html"><img src="images/ez-8.jpg" width="189" height="90" alt="" /></a></p>
															<p>Even Do-It-Yourselfers, who refinish a hardwood floor for the first time, can achieve professional results by using the proper rental equipment and following these steps. </p>
															<p><a href="/ad-refinish.html" class="link-style3"><span>Read More About Floor Sanding</span></a></p>
														</div>
														<div class="divider"></div>
														<div id="box3">
															<h2>Deep Clean Your Carpets!!</h2>
															<p><a href="/ad-carpet.html"><img src="images/carpet.jpg" width="280" height="100" alt="" /></a></p>
															<p>The new Windsor carpet cleaners at Bledsoe Rentals changes the game in cleaning your carpets. Paired with our new cleaning chemical process, helps clean your carpets like never before.</p>
															<p><a href="/ad-carpet.html" class="link-style3"><span>Read More about Carpet Cleaning</span></a></p>
														</div>
													</div>
												</div>
												<div class="clearfix">&nbsp;</div>
											</div>
										</div>
									</div>
									<div id="sidebar">
										<div id="box4">
											<div><script>
											(function() {
												var cx = '016707340344531456074:doy1tyar-g8';
												var gcse = document.createElement('script');
												gcse.type = 'text/javascript';
												gcse.async = true;
												gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
												'//www.google.com/cse/cse.js?cx=' + cx;
												var s = document.getElementsByTagName('script')[0];
												s.parentNode.insertBefore(gcse, s);
											})();
											</script>
											<gcse:search></gcse:search></div></div>

											<div id="box4">								
												<div class="content">
													<p><a href="/store-lsn.html"><img src="images/lsn.jpg" width="210" height="90" alt="" /></a></p>
													<ul><li><a href="/store-lsn.html">Lee's Summit North</a></li>
														<li>1300 NE Douglas St. </li>
														<li>Lee's Summit, MO 64086 </li>
														<li>816.524.4222</li></ul>
														<p><a href="/store-lss.html"><img src="images/lss.jpg" width="210" height="90" alt="" /></a></p>
														<ul><li><a href="/store-lss.html">Lee's Summit South</a></li>
															<li>20 SE 29 Terrace </li>
															<li>Lee's Summit, MO 64082 </li>
															<li>816.524.4046</li></ul>
															<p><a href="/store-ola.html"><img src="images/ola.jpg" width="210" height="90" alt="" /></a></p>
															<ul><li><a href="/store-ola.html">Olathe</a></li>
																<li>208 W. Dennis Ave. </li>
																<li>Olathe, KS 66061 </li>
																<li>913.764.3337</li></ul>
															</div>
														</div>
														<div id="box5">
															<h2>Store Hours</h2>
															<div class="content">
																<strong>April 1 - October 15:</strong>
																<strong>Olathe & Lee's Summit North</strong>
																<ul class="style2"></ul>
																<ul><li>Monday-Friday 7:30 - 5:30</li>
																	<li>Saturday 8:00 - 5:00
																		<li>Sunday Closed</li></ul>
																		<strong>April 1 - October 15:</strong>
																		<strong>Lee's Summit South</strong>
																		<ul class="style2"></ul>
																		<ul><li>Monday-Friday 7:30 - 5:30</li>
																			<li>Saturday 8:00 - 1:00
																				<li>Sunday Closed</li></ul>
																				<strong>October 16 - March 31</strong>
																				<strong>All Stores</strong>
																				<ul class="style2"></ul>
																				<ul><li>Monday-Friday 7:30 - 5:00</li>
																					<li>Saturday 9:00 - 1:00</li>
																					<li>Sunday Closed</li></ul>
																				</div>
																			</div>
																			<div id="box6">
																				<h2>Concrete Surface Supply </h2>
																				<div>
																					<ul class="style3">
																						<li class="li-bg1">

																							<a target="_blank" href="http://www.concretesurfacesupply.com/"><img src="images/css.jpg" width="185" border="0" height="90" /></a>
																						</li></ul></div> 
																						<div id="box6">
																							<h2>Links </h2>
																							<ul class="style3">
																								<li class="li-bg1">
																									<a target="_blank" href="http://stores.ebay.com/Bledsoe-Rentals"><img src="images/EbayStoreLogo.jpg" width="180" border="0" height="120"></a>
																								</li>
																								<li class="li-bg2">
																									<a target="_blank" href="http://www.ararental.org"><img src="images/ara_logo.gif" width="180" border="0" height="120" /></a>
																								</li>

																							</ul>

																						</div>
																					</div>
																				</div>
																				<div class="clearfix">&nbsp;</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div id="footer-content" class="container">
															<div id="three-columns">
																<div id="box7">
																	<h2>Project Advice & Information</h2>
																	<ul class="style4">
																		<li class="first"><a href="/ad-lawn.html">All Lawns Need Attention Now!</a></li>
																		<li><a href="/ad-refinish.html">Refinishing Your Hardwood Floors!</a></li>

																		<li><a href="/ad-carpet.html">Deep Clean and Restore Your Carpets!</a></li>

																	</ul>
																</div>
																<div id="box8">
																	<h2>New Equipment @ Bledsoe Rentals</h2>
																	<div>
																		<ul class="style4">
																			<li class="first"><a href="/a600.html">Ermator A600, HEPA Air Scrubber</a></li>
																			<li><a href="/dirtdragon.html">Dirt Dragon, Hardwood Floor Cleaner</a></li>
																			<li><a href="/ad-windsor-carpet.html">Windsor Carpet Cleaner</a></li>
																			<li><a href="/ad-iscrub.html">iScrub 20" Ride on Floor Scrubber</a></li>


																		</ul>
																	</div>
																</div>
																<div id="box9">
																	<h2>Contact Us</h2>
																	<div class="content">
																		<ul class="style5">
																			<li><a href="#"><img src="images/homepage17.gif" width="32" height="32" alt="" /></a></li>
																			<li><a href="#"><img src="images/homepage18.gif" width="32" height="32" alt="" /></a></li>
																			<li><a href="#"><img src="images/homepage19.gif" width="32" height="32" alt="" /></a></li>
																			<li><a href="#"><img src="images/homepage20.gif" width="32" height="32" alt="" /></a></li>
																			<li><a href="#"><img src="images/homepage21.gif" width="32" height="32" alt="" /></a></li>
																		</ul>
																		<p>Bledsoe Rentals</p>
																		<p> 1300 NE Douglas St
																			<p> Lee's Summit, MO 64086
																				<p></p>
																			</div>
																		</div>
																	</div>
																</div>
																<div id="footer" class="container">
																	<p class="legal">© 2015 Bledsoe Equipment Inc. All rights reserved. </p>
																</div>

	 <script src="scripts/jquery-1.7.1.min.js"></script>
   <script src="scripts/jquery.slidertron-0.2.1.js"></script>
   <script src="scripts/init.js"></script>
