<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="page" class="container">
	<div id="page-bgtop">
		<div id="page-bgbtm">

			<!-- New Angular Slider -->
			<div class="container">

				<div class="sm-splash">
					<div id="sidebar" >
						<div id="box4">
							<a href='' ng-click="setCategory();">
								<h2 id="findEquip" class="title" >Find Equipment</h2>
							</a href=''>
						</div>
					</div>
				</div>

			</div>

			<div class="reel" ng-controller="CarouselDemoCtrl" >
				<div class="slide">
					<carousel interval="myInterval">
						<slide ng-repeat="slide in mainslides" active="slide.active">
							
							<img ng-src="{{slide.image}}" style="margin:auto;">

							<div class="caption">
								<h2>{{slide.text}}</h2>
								<p>{{slide.addtext}}</p>
							</div>
							
						</slide>
					</carousel>
				</div>
			</div>
			


			<div id="content" class="col-md-8">
				<div class="post">
					<h2 class="title">What's new at Bledsoe Rentals</h2>
					<div class="entry">

						<div id="box1">
							<!-- 								<h1>TEST - {{category()}}</h1><br> -->

							<h3 class="text1">Barreto 30SG Stump Grinder </h3>
							<p class="text2">RATE: 2 HOUR $82 / 3 HOUR $122 / $204 DAILY / $1,020 WEEKLY</p>
							<p><img src=
								"images/equipment/30sg.jpg" alt="" width="219" height="365" class="alignleft" />
								<p>Try out the new Barreto 30SG Stump Grinder. There are no belts to the cutting wheel. The hydraulic direct drive eliminates the need for expensive drive belts. A brake on the cutting wheel makes for safer operation. The unit will easily fit through 36" gates.  A low center of gravity helps the stability of the unit on uneven terrain. </strong></font></p>



								<p><span><a href="/rental" class="link-style1">Rental Equipment</a></span><span><a href="" ng-click="setCategory('Lawn Equipment')" class="link-style2">Lawn Rental </a></span></p>

							</div>
							<div class="divider">&nbsp;</div>

							<div id="box1">
								<h3 class="text1">Niftylift SD34T 34' Drivable Lift</h3>
								<p class="text2">RATE: 3 HOUR $156 / $245 DAILY / $980 WEEKLY </p>

								<p><a href="" ng-click="setCategory('Aerial Work Platforms, Ladders & Scaffolding')"><img src="images/equipment/sd34t.jpg" alt="" width="399" height="299" class="center" /></a></p>

							</div>

							<div class="divider">&nbsp;</div>
							<div id="two-columns">
								<div class="col-md-6">
									<h2>Cutting Edge N-Flatables!</h2>
									<ul class="style1">
										<li class="first"><a href=""><img src="images/bounce/princ-sm.jpg" width="75" height="113" alt="" /></a>
											<h3><strong>Princess Carriage Combo</strong></h3>
											<p>This bounce and slide combo is perfect for any young royal entourage! This combo features a bouncing area, amazingly-detailed digital graphics, a crawl-through, slide area, and child-proof finger-safe netting. </p>
										</li>
										<li><a href=""><img src="images/bounce/fs.jpg" width="75" height="113" alt="" /></a>
											<h3><strong>Fire Station Combo Bounce House</strong></h3>
											<p> This bounce and slide combo is perfect for any aspiring Firefighter! This combo features a bouncing area, amazingly-detailed digital graphics, a crawl-through, slide area, and child-proof finger-safe netting. </p>
										</li>
										
										<li>
											<h2>Ram Board Floor Protection</h2>
											<a href=""><img src="images/equipment/RB_RegularRoll.jpg" width="75" height="113" alt="" /></a>
											<h3><strong>Ram Board Contractor</strong></h3>
											<p>Ram Board is a heavy-duty, temporary floor protection engineered for Contractors. Designed with cost and efficiency in mind; it lays out fast and is re-usable. Ram Board is non-staining and utilizes Flex-Fiber™ technology allowing for the proper curing of new floors on jobsites. Exclusive Spill Guard™ technology provides added protection against water, paint, mud, and more.</p>
										</li>
										<li><a href=""><img src="images/equipment/RB_HomeEditionRoll.jpg" width="75" height="113" alt="" /></a>
											<h3><strong>Ram Board Home Edition</strong></h3>
											<p>Home Edition™ carries the same properties of Ram Board in a smaller (36”x50’), lighter roll.  It is 15% thinner than our professional grade board but remains heavy-duty at 4x the thickness of rosin paper.  It provides re-usable protection for contractors and DIY’ers with smaller projects.</p>
										</li>
									</ul>

								</div>
								<div class="col-md-6">
									<div id="box2">
										<h2>Surface Preparation</h2>
										<p><img src="images/surface.jpg" width="280" height="99" alt="" /></p>
										<p>Bledsoe Rentals has the largest selection of surface preparation equipment in Kansas City. 7" Concrete Edge Grinders up to 30" Propane Concrete Grinders. Machines for both concrete preparation and concrete polishing!</p>
										<p><a href="" ng-click="setCategory('Concrete & Masonry')" class="link-style3"><span>Concrete Equipment Rental</span></a></p>
									</div>
									<div class="divider"></div>
									<div id="box3">
										<h2>Refinish Your Wood Floor!</h2>
										<p><a href="/ad-refinish"><img src="images/ez-8.jpg" width="189" height="90" alt="" /></a></p>
										<p>Even Do-It-Yourselfers, who refinish a hardwood floor for the first time, can achieve professional results by using the proper rental equipment and following these steps. </p>
										<p><a href="/ad-refinish" class="link-style3"><span>Read More About Floor Sanding</span></a></p>
									</div>
									<div class="divider"></div>
									<div id="box3">
										<h2>Deep Clean Your Carpets!!</h2>
										<p><a href="/ad-carpet"><img src="images/carpet.jpg" width="280" height="100" alt="" /></a></p>
										<p>The new Windsor carpet cleaners at Bledsoe Rentals changes the game in cleaning your carpets. Paired with our new cleaning chemical process, helps clean your carpets like never before.</p>
										<p><a href="/ad-carpet" class="link-style3"><span>Read More about Carpet Cleaning</span></a></p>
									</div>
								</div>
							</div>
							<div class="clearfix">&nbsp;</div>
						</div>
					</div>
				</div>

				<!-- Sidebar -->
				<div id="sidebar" class="col-md-4">

					<!-- Find Equipment -->
			<!-- 		<div id="box4">
						<a href='' ng-click="setCategory();">
							<h2 id="findEquip" class="title" >Find Equipment</h2>
						</a href=''>

							<div class="searchBox">
							
							<br>
							<input type="text" ng-model="searchtext" name="searchtext" class="searchBox" placeholder=" Any Equipment" size="20">

							<button class="searchBox title" ng-click="setEquip(searchtext)">Search</button>
							</div>
					</div> -->
		
					<!-- <div class="fb-page" data-href="https://www.facebook.com/pages/Bledsoe-Rentals/186667044894" data-width="303" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Bledsoe-Rentals/186667044894"><a href="https://www.facebook.com/pages/Bledsoe-Rentals/186667044894">Bledsoe Rentals</a></blockquote></div></div> -->
				
					<!-- Store Info -->
					<div id="box4">		
						<h2>Store Locations</h2>						
						<div class="content">
							<!-- LSN -->
							<div class="col-md-12">
								
									<a href="/store-lsn" class="center-block">
										<img class="center-block" src="images/lsn.jpg" width="210" height="90" alt="" />
									</a>
								
								<ul>
									<li>
										<a href="/store-lsn">Lee's Summit North</a>
									</li>
									<li>1300 NE Douglas St. </li>
									<li>Lee's Summit, MO 64086 </li>
									<li><a href="tel:816-524-4222">816.524.4222</a></li>
								</ul>
							</div>
		
							
							<!-- Olathe -->
							<div class="col-md-12">
								<a href="/store-ola" class="center-block">
									<img class="center-block" src="images/ola.jpg" width="210" height="90" alt=""/>
								</a>
							
								<ul>
									<li>
										<a href="/store-ola">Olathe</a>
									</li>
									<li>208 W. Dennis Ave. </li>
									<li>Olathe, KS 66061 </li>
									<li><a href="tel:913-764-3337">913.764.3337</a></li>
								</ul>
								<br>
							</div>
							
							
							<br>
							<div class="text-center">
								<a href="https://www.facebook.com/pages/Bledsoe-Rentals/186667044894" target="new">
									<img src="images/FB-FindUSonFacebook-online-144.png" alt="Find us on Facebook">
								</a>
							</div>
						</div>
					</div>

					<!-- Store Hours -->
					<div id="box5">
						<h2>Store Hours</h2>
						<div class="content">
							<strong>April 1 - October 15: </strong>
							<strong>All Stores</strong>
							<ul class="style2"></ul>  <!-- Unsure why this is here -->
							<ul>
								<li>Monday-Friday 7:30am - 5:30pm</li>
								<li>Saturday 8:00am - 5:00pm</li>
								<li>Sunday 10:00am - 3:00pm</li>
							</ul>
							<strong>October 16 - March 31: </strong>
							<strong>All Stores</strong>
							<ul class="style2"></ul>
							<ul>
								<li>Monday-Friday 7:30am - 5:00pm</li>
								<li>Saturday 8:00am - 5:00pm</li>
								<li>Sunday Closed</li>
							</ul>
						</div>
					</div>

					<div id="box6" >
						<h2>Facebook</h2>
						<div class="text-center">
							<br>
						<div class="fb-page" data-href="https://www.facebook.com/pages/Bledsoe-Rentals/186667044894" data-width="303" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Bledsoe-Rentals/186667044894"><a href="https://www.facebook.com/pages/Bledsoe-Rentals/186667044894">Bledsoe Rentals</a></blockquote></div></div>
						</div>
						
					</div>
					<br>

					<!-- Concrete Surface Supply -->
					<div id="box6">
						<h2>Concrete Surface Supply </h2>
						<div class="text-center">

							<div>
								<ul class="style3">
									<li class="li-bg1">
										<a target="_blank" href="http://www.concretesurfacesupply.com/">
											<img src="images/css.jpg" width="185" border="0" height="90" />
										</a>
									</li>
								</ul>
							</div>
						</div>
						 
					</div>

					<!-- Links -->
					<div id="box6">
						<h2>Links </h2>
						<div class="text-center">
							<div class="text-center">
								<ul class="style3">
									<li class="li-bg1">
										<a target="_blank" href="http://stores.ebay.com/Bledsoe-Rentals">
											<img src="images/EbayStoreLogo.jpg" width="180" border="0" height="120">
										</a>
									</li>
									<li class="li-bg2">
										<a target="_blank" href="http://www.ararental.org">
											<img src="images/ara_logo.gif" width="180" border="0" height="120" />
										</a>
									</li>
								</ul>
							</div>	
						</div>		
					</div>

					<!-- Coupon -->
					<div id="box6"ß>
						<h2>Coupons </h2>
						<div class="text-center">
							<div>
								<ul class="style3">
									<li class="li-bg1">
										<a target="_blank" href="images/propane.jpg">
											<img src="images/propane.jpg" width="240" border="0" height="120" style="margin-left:auto; margin-right:auto;">
										</a>
									</li>
								</ul>
							</div>	
						</div>
					</div>
				</div>
									<div class="clearfix">&nbsp;</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<script async="" src="//www.google.com/adsense/search/async-ads.js"></script>
			<script type="text/javascript" async="" src="http://www.google.com/cse/cse.js?cx=016707340344531456074:doy1tyar-g8"></script>
			<script src="scripts/jquery-1.7.1.min.js"></script>

			<script src="scripts/init.js"></script>

