<div id="page" class="container">
					<div id="page-bgtop">
						<div id="page-bgbtm">
							<div id="content" class="col-md-8">
								<div class="post">
									<h2 class="title">Bledsoe Rentals Lee's Summit North Location</h2>
									<div class="entry">
										<div id="box1">
											<h3 class="text1"></h3>
											<p class="text2"></p>
											<p><iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1300+NE+Douglas+St,+Lee's+Summit,+MO&amp;aq=2&amp;oq=1300+NE+Douglas+St&amp;sll=38.498779,-98.320078&amp;sspn=7.349332,14.27124&amp;ie=UTF8&amp;hq=&amp;hnear=1300+NE+Douglas+St,+Lee's+Summit,+Jackson,+Missouri+64086&amp;ll=38.935503,-94.379786&amp;spn=0.014271,0.027874&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1300+NE+Douglas+St,+Lee's+Summit,+MO&amp;aq=2&amp;oq=1300+NE+Douglas+St&amp;sll=38.498779,-98.320078&amp;sspn=7.349332,14.27124&amp;ie=UTF8&amp;hq=&amp;hnear=1300+NE+Douglas+St,+Lee's+Summit,+Jackson,+Missouri+64086&amp;ll=38.935503,-94.379786&amp;spn=0.014271,0.027874&amp;t=m&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>


												
											</div>
										</div>
									</div>
								</div>
								<div id="sidebar" class="col-md-4">
									<div id="box4">
										<h2>Store Information</h2>
										<div class="content">
											
											<ul class="style2">
												<li class="first"></li>
												<li>1300 NE Douglas St.</li>
												<li>Lee's Summit, MO 64086</li>
												<li>Manager: Jim Fouts</li>
												<li>Phone: (816) 524-4222</li>
												<li>Fax: (816) 524-4227</li>
												<li></li>
											</ul>
											<a href="/store-ola" class="link-style3"><span>Olathe Kansas </span></a>
											<a href="/store-lss" class="link-style3"><span>Lee's Summit South </span></a>
											
											
										</div>
									</div>
									<div id="box5">
										
										
									</div>
									<div id="box6">
										
										<div>
											
											<div class="content">
												
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix">&nbsp;</div>
							</div>
						</div>
					</div>
				</div>