<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->
<div>
  <table class="table">
  <thead>
    <th>Number</th>
    <th>Description</th>
    <th>Minimum (3 hrs)</th>
    <th>Daily</th>
    <th>Weekly</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <tr ng-repeat="product in products">
      <td>{{product.NUMBER}}</td>
      <td>{{product.NAME}}</td>

      <!-- using if to not display $0 if no value -->
      <td ng-if="product.THREEHOUR">{{product.THREEHOUR | currency}}</td>
      <td ng-if="!product.THREEHOUR">&nbsp;</td>

      <td>{{product.DAILY | currency}}</td>

      <!-- using if to not display $0 if no value -->
      <td ng-if="product.WEEKLY">{{product.WEEKLY | currency}}</td>
      <td ng-if="!product.WEEKLY">&nbsp;</td>

<!--       <td class="licnum" ng-if="participant.LicenseNumber">{{participant.LicenseNumber}}</td>
<td class="licnum" ng-if="!participant.LicenseNumber">&nbsp;</td>
      <td> -->
      <td>
        <a href="#">Edit</a>
      </td>
      <td>
        <a href="#">Remove</a>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div>
  <form ng-submit="addProduct()">
  <div class="form-group">
    <label>First Name:</label>
    <input type="text" ng-model="productName" class="form-control">
  </div>
  <div class="form-group">
    <label>Last Name:</label>
    <input type="text" ng-model="cost" class="form-conrol">
  </div>
  <div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary">
  </div>
</form>
</div>
