<!-- Ad - Lawn Page -->
<div id="page" class="container">
	<div id="page-bgtop">
		<div id="page-bgbtm">
			<div id="content" style="padding:0 !important;">
				<div class="post">
					<h2 class="title">Bledsoe Rentals now sells Bob-Cat mowers! </h2>
					<div class="entry">
						<div id="box1">
							<h3 class="text1" style="text-align: center;">Looking for durability and peak performance from your mower?</h3>
							<p class="text2" style="text-align: center;">Look no further. We have you covered!</p>
							<img src="images/CSS-Slider1.png" class="aligncenter">
							<br>
							<p>Even if you have beautiful lawn now, it needs immediate attention from Now thru October. After a summer of kids, pets, volleyball games, and heavy mowers tromping & rolling across your lawn, the least you can do to insure your lawn remains beautiful is to rent a Core Aerator. All of that summer lawn traffic will compact the soil to the extent that roots can no longer grow and fertilizers cannot get to the roots to be absorbed by the grass plants. In addition, compacted lawns require more frequent and extensive watering due to runoff and poor penetration to the roots. To illustrate, think about trails in the woods. Those trails are so compacted from foot traffic that they can no longer support any type of plant growth. You lawn is no different than those trails.</p>
						</div>

						<!-- Predator Pro -->
						<div id="box2">
							<div class="heading-row">
								<h2 class="mower">The Predator Pro:</h2>
							</div>
							<br>
							<div class="">
								<div class="col-md-4">
									<img src="images/fastcat.webp" alt="" width="280" height="280" class="alignleft" />
								</div>
								<div class="col-md-8">
									<h3>The Peak of Durability and Performance</h3>
									<br>
									<p>Sporting a deluxe high-back Flex-Suspension™ seat, the FastCat Pro provides you with a smooth, low vibration, and overall more comfortable ride. FastCat Pro zero-turn mowers give you more control with a quick-lift foot assist pedal to easily raise and lower the deck on demand. Operators also enjoy smooth maneuverability provided by dual Hydro-Gear® ZT-3400 independent drives and feature 23-inch drive wheels to facilitate improved ground clearance with superior traction for more precise handling. The lightweight design and strategic weight distribution reduce turf markings and tire slippage.</p>
									<table class="mowerDetails">
										<tr class="bordBot">
											<th>Model</th>
											<th>Model #</th>
											<th>Engine Make</th>
											<th>Deck Size</th>
										</tr>
										<tr>
											<th rowspan="4">Predator Pro</th>
										</tr>
										<tr>
											<td>942529</td>
											<td>Kawasaki FX921V</td>
											<td>52" SD</td>
										</tr>
										<tr>
											<td>942514</td>
											<td>Kawasaki FX921V</td>
											<td>61" SD</td>
										</tr>
										<tr>
											<td>942519</td>
											<td>Kawasaki FX921V</td>
											<td>72" SD</td>
										</tr>
									</table>
								</div>
								<br>
								<div class="col-md-12">
									<a href="" class="mowerBtn" style="text-align:center">
									Learn More about the Predator Pro
								</a>
								</div>
								
								
								

							</div>
						</div>
						<br>
						<br>

						<!-- XRZ -->
						<div id="box2">
							<div class="heading-row">
								<h2 class="mower">The XRZ:</h2>
							</div>
							<br>
							<div class="">
								<div class="col-md-4">
									<img src="images/fastcat.webp" alt="" width="280" height="280" class="alignleft" />
								</div>
								<div class="col-md-8">
									<h3>The Peak of Durability and Performance</h3>
									<br>
									<p>Sporting a deluxe high-back Flex-Suspension™ seat, the FastCat Pro provides you with a smooth, low vibration, and overall more comfortable ride. FastCat Pro zero-turn mowers give you more control with a quick-lift foot assist pedal to easily raise and lower the deck on demand. Operators also enjoy smooth maneuverability provided by dual Hydro-Gear® ZT-3400 independent drives and feature 23-inch drive wheels to facilitate improved ground clearance with superior traction for more precise handling. The lightweight design and strategic weight distribution reduce turf markings and tire slippage.</p>
									<table class="mowerDetails">
										<tr class="bordBot">
											<th>Model</th>
											<th>Model #</th>
											<th>Engine Make</th>
											<th>Deck Size</th>
										</tr>
										<tr>
											<th rowspan="4">Predator Pro</th>
										</tr>
										<tr>
											<td>942529</td>
											<td>Kawasaki FX921V</td>
											<td>52" SD</td>
										</tr>
										<tr>
											<td>942514</td>
											<td>Kawasaki FX921V</td>
											<td>61" SD</td>
										</tr>
										<tr>
											<td>942519</td>
											<td>Kawasaki FX921V</td>
											<td>72" SD</td>
										</tr>
									</table>
								</div>
								<br>
								<div class="col-md-12">
									<a href="" class="mowerBtn" style="text-align:center">
									Learn More about the Predator Pro
									</a>
								</div>

							</div>	
						</div>
						<br>
						<br>

						<!-- XRZ Pro -->
						<div id="box2">
							<div class="heading-row">
								<h2 class="mower">The XRZ Pro:</h2>
							</div>
							<br>
							<div class="">
								<div class="col-md-4">
									<img src="images/fastcat.webp" alt="" width="280" height="280" class="alignleft" />
								</div>
								<div class="col-md-8">
									<h3>The Peak of Durability and Performance</h3>
									<br>
									<p>Sporting a deluxe high-back Flex-Suspension™ seat, the FastCat Pro provides you with a smooth, low vibration, and overall more comfortable ride. FastCat Pro zero-turn mowers give you more control with a quick-lift foot assist pedal to easily raise and lower the deck on demand. Operators also enjoy smooth maneuverability provided by dual Hydro-Gear® ZT-3400 independent drives and feature 23-inch drive wheels to facilitate improved ground clearance with superior traction for more precise handling. The lightweight design and strategic weight distribution reduce turf markings and tire slippage.</p>
									<table class="mowerDetails">
										<tr class="bordBot">
											<th>Model</th>
											<th>Model #</th>
											<th>Engine Make</th>
											<th>Deck Size</th>
										</tr>
										<tr>
											<th rowspan="4">Predator Pro</th>
										</tr>
										<tr>
											<td>942529</td>
											<td>Kawasaki FX921V</td>
											<td>52" SD</td>
										</tr>
										<tr>
											<td>942514</td>
											<td>Kawasaki FX921V</td>
											<td>61" SD</td>
										</tr>
										<tr>
											<td>942519</td>
											<td>Kawasaki FX921V</td>
											<td>72" SD</td>
										</tr>
									</table>
								</div>
								<br>
								<div class="col-md-12">
									<a href="" class="mowerBtn" style="text-align:center">
									Learn More about the Predator Pro
								</a>
								</div>

							</div>
						</div>
						<br>
						<br>

						<!-- QuickCat -->
						<div id="box2">
							<div class="heading-row">
								<h2 class="mower">The QuickCat:</h2>
							</div>
							<br>
							<div class="">
								<div class="col-md-4">
									<img src="images/fastcat.webp" alt="" width="280" height="280" class="alignleft" />
								</div>
								<div class="col-md-8">
									<h3>The Peak of Durability and Performance</h3>
									<br>
									<p>Sporting a deluxe high-back Flex-Suspension™ seat, the FastCat Pro provides you with a smooth, low vibration, and overall more comfortable ride. FastCat Pro zero-turn mowers give you more control with a quick-lift foot assist pedal to easily raise and lower the deck on demand. Operators also enjoy smooth maneuverability provided by dual Hydro-Gear® ZT-3400 independent drives and feature 23-inch drive wheels to facilitate improved ground clearance with superior traction for more precise handling. The lightweight design and strategic weight distribution reduce turf markings and tire slippage.</p>
									<table class="mowerDetails">
										<tr class="bordBot">
											<th>Model</th>
											<th>Model #</th>
											<th>Engine Make</th>
											<th>Deck Size</th>
										</tr>
										<tr>
											<th rowspan="4">Predator Pro</th>
										</tr>
										<tr>
											<td>942529</td>
											<td>Kawasaki FX921V</td>
											<td>52" SD</td>
										</tr>
										<tr>
											<td>942514</td>
											<td>Kawasaki FX921V</td>
											<td>61" SD</td>
										</tr>
										<tr>
											<td>942519</td>
											<td>Kawasaki FX921V</td>
											<td>72" SD</td>
										</tr>
									</table>
								</div>
								<br>
								<div class="col-md-12">
									<a href="" class="mowerBtn" style="text-align:center">
									Learn More about the Predator Pro
								</a>
								</div>

							</div>
						</div>
						<br>
						<br>

						<!-- ProCat -->
						<div id="box2">
							<div class="heading-row">
								<h2 class="mower">The ProCat:</h2>
							</div>
							<br>
							<div class="">
								<div class="col-md-4">
									<img src="images/fastcat.webp" alt="" width="280" height="280" class="alignleft" />
								</div>
								<div class="col-md-8">
									<h3>The Peak of Durability and Performance</h3>
									<br>
									<p>Sporting a deluxe high-back Flex-Suspension™ seat, the FastCat Pro provides you with a smooth, low vibration, and overall more comfortable ride. FastCat Pro zero-turn mowers give you more control with a quick-lift foot assist pedal to easily raise and lower the deck on demand. Operators also enjoy smooth maneuverability provided by dual Hydro-Gear® ZT-3400 independent drives and feature 23-inch drive wheels to facilitate improved ground clearance with superior traction for more precise handling. The lightweight design and strategic weight distribution reduce turf markings and tire slippage.</p>
									<table class="mowerDetails">
										<tr class="bordBot">
											<th>Model</th>
											<th>Model #</th>
											<th>Engine Make</th>
											<th>Deck Size</th>
										</tr>
										<tr>
											<th rowspan="4">Predator Pro</th>
										</tr>
										<tr>
											<td>942529</td>
											<td>Kawasaki FX921V</td>
											<td>52" SD</td>
										</tr>
										<tr>
											<td>942514</td>
											<td>Kawasaki FX921V</td>
											<td>61" SD</td>
										</tr>
										<tr>
											<td>942519</td>
											<td>Kawasaki FX921V</td>
											<td>72" SD</td>
										</tr>
									</table>
								</div>
								<br>
								<div class="col-md-12">
									<a href="" class="mowerBtn" style="text-align:center">
									Learn More about the Predator Pro
								</a>
								</div>
							</div>
						</div>
						<br>
						<br>
						
						</div>

					
<!-- these 2 close added -->
						</div>
						</div>
							
				
			<!-- 		<div class="entry">
						<h3 class="title">
							The Predator-Pro Features:
						</h3>
					</div> -->

		
						</div>
					</div>
				</div>
			</div>
			
			<div class="clearfix">&nbsp;</div>
		</div>
	</div>
</div>

