<!-- Ad - Lawn Page -->
<div id="page" class="container">
	<div id="page-bgtop">
		<div id="page-bgbtm">
			<div id="content" style="padding:0 !important;">
				<div class="post">
					<h2 class="title">Bledsoe Rentals now sells Bob-Cat mowers! </h2>
					<div class="entry">
						<div id="box1">
							<h3 class="text1" style="text-align: center;">Looking for durability and peak performance from your mower?</h3>
							<p class="text2" style="text-align: center;">Look no further. We have you covered!</p>
							<!-- <img src="images/CSS-Slider1.png" class="aligncenter"> -->
							<br>
							<p>Even if you have a beautiful lawn now, it needs immediate attention from now thru October. After a summer of kids, pets, volleyball games, and heavy mowers tromping and rolling across your lawn, the least you can do to insure your lawn remains beautiful is to rent a Core Aerator. All of that summer lawn traffic will compact the soil to the extent that roots can no longer grow and fertilizers cannot get to the roots to be absorbed by the grass plants. In addition, compacted lawns require more frequent and extensive watering due to runoff and poor penetration to the roots. To illustrate, think about trails in the woods. Those trails are so compacted from foot traffic that they can no longer support any type of plant growth. You lawn is no different than those trails.</p>
						</div>

						<!-- Predator Pro -->
						<div id="box2">
							<div class="heading-row">
								<h2 class="mower">The Predator Pro:</h2>
							</div>
							<br>
							<div class="">
								<div class="col-md-4">
									<img src="images/predator-pro-side.png" alt="" width="90%" height="90%" class="alignleft" />
								</div>
								<div class="col-md-8">
									<h3>The Peak of Durability and Performance</h3>
									<br>
									<p>Backed by the most ferocious warranty in the business - 6-year / 2750 hours - the Predator-Pro was bred for one single purpose; to mak you money.  It's fast, getting you from one job on to the next.  It's powerful, tackling slopes and hills like they were flat ground.  It's durable, turning out pristine cuts year after year.  And finally, it's easy to maintain, with convenient access to internal components and many common parts shared with other models.  When you're ready to be the alpha species, it's time to experience Predator-Pro.</p>
									<table class="mowerDetails">
										<tr class="bordBot">
											<th>Model</th>
											<th>Model #</th>
											<th>Engine Make</th>
											<th>Deck Size</th>
										</tr>
										<tr>
											<th rowspan="4">Predator Pro</th>
										</tr>
										<tr>
											<td>942529</td>
											<td>Kawasaki FX921V</td>
											<td>52" SD</td>
										</tr>
										<tr>
											<td>942514</td>
											<td>Kawasaki FX921V</td>
											<td>61" SD</td>
										</tr>
										<tr>
											<td>942519</td>
											<td>Kawasaki FX921V</td>
											<td>72" SD</td>
										</tr>
									</table>
								</div>
								<br>

								<div class="col-md-12" style="margin-top:10px;">
									<a href="" class="mowerBtn" style="text-align:center">
									Call Us (816-524-4222) to Learn More
								</a>
								</div>
								
								
								

							</div>
						</div>
						<br>
						<br>

						<!-- XRZ -->
						<div id="box2">
							<div class="heading-row">
								<h2 class="mower">The XRZ:</h2>
							</div>
							<br>
							<div class="">
								<div class="col-md-4">
									<img src="images/xrz-side.png" alt="" width="90%" height="90%" class="alignleft" />
								</div>
								<div class="col-md-8">
									<h3>Fit For Any Duty</h3>
									<br>
									<p>Whether you are a professional or want to mow like one, the BOB-CAT XRZ has the durability, performance and value to suit both.  Wide 22" dirve tires tackle any terrain with grace and stability, while Hydro-Gear 3100 transaxles keep the ride smooth, responsive and agile.  Enhcanced comfort features, such as a high-back adjustable seat and standard arm rests keep you feeling as good as the turf looks at the end of the day.</p>
									<table class="mowerDetails">
										<tr class="bordBot">
											<th>Model</th>
											<th>Model #</th>
											<th>Engine Make</th>
											<th>Deck Size</th>
										</tr>
										<tr>
											<th rowspan="4">XRZ</th>
										</tr>
										<tr>
											<td>942610</td>
											<td>Kawasaki FR651V</td>
											<td>48" SD</td>
										</tr>
										<tr>
											<td>942611</td>
											<td>Kawasaki FR691V</td>
											<td>52" SD</td>
										</tr>
										<tr>
											<td>942612</td>
											<td>Kawasaki FR730V</td>
											<td>61" SD</td>
										</tr>
									</table>
								</div>
								<br>
								<br>
								<div class="col-md-12" style="margin-top:10px;">
									<a href="" class="mowerBtn" style="text-align:center">
									Call Us (816-524-4222) to Learn More
								</a>
								</div>

							</div>	
						</div>
						<br>
						<br>

						<!-- XRZ Pro -->
						<div id="box2">
							<div class="heading-row">
								<h2 class="mower">The XRZ Pro:</h2>
							</div>
							<br>
							<div class="">
								<div class="col-md-4">
								<!-- Image needs updated -->
									<img src="images/xrz-pro-side.png" alt="" width="90%" height="90%" class="alignleft" />
								</div>
								<div class="col-md-8">
									<h3>Professional Performance and Outstanding Value</h3>
									<br>
									<p>We build the XRZ Pro to deliver a commercial-grade durability and performance at a price that's gentle on your wallet.  Rugged durability and a consistent quality of cut, combined with convenient maintenance and all-day mowing comfort, make the XRZ Pro the perfect machine for the budget-minded contractor.</p>
									<table class="mowerDetails">
										<tr class="bordBot">
											<th>Model</th>
											<th>Model #</th>
											<th>Engine Make</th>
											<th>Deck Size</th>
										</tr>
										<tr>
											<th rowspan="4">XRZ Pro</th>
										</tr>
										<tr>
											<td>942620</td>
											<td>Kawasaki FX651V</td>
											<td>48" SD</td>
										</tr>
										<tr>
											<td>942621</td>
											<td>Kawasaki FX691V</td>
											<td>52" SD</td>
										</tr>
										<tr>
											<td>942622</td>
											<td>Kawasaki FX730V</td>
											<td>61" SD</td>
										</tr>
									</table>
								</div>
								<br>
								<br>
								<div class="col-md-12" style="margin-top:10px;">
									<a href="" class="mowerBtn" style="text-align:center">
									Call Us (816-524-4222) to Learn More
								</a>
								</div>

							</div>
						</div>
						<br>
						<br>

						<!-- QuickCat -->
						<div id="box2">
							<div class="heading-row">
								<h2 class="mower">The QuickCat:</h2>
							</div>
							<br>
							<div class="">
								<div class="col-md-4">
									<br>
									<img src="images/quickcat1.webp" alt="" width="280" height="203" class="alignleft" />
								</div>
								<div class="col-md-8">
									<h3>The Stand-On Mower with Stand-Out Performance</h3>
									<br>
									<p>Introduced in 2015, the QuickCat took the commercial mowing industry by storm.  With a ferocious blend of stability, speed and cut quality, it set a new standard in stand-on mowers.  Plus, with its compact size, extra ground clearance and large drive tires, the QuickCat gets over, around and through obstacles like an untamed beast.  Step up to increased profitability and step onto the QuickCat.</p>
									<table class="mowerDetails">
										<tr class="bordBot">
											<th>Model</th>
											<th>Model #</th>
											<th>Engine Make</th>
											<th>Deck Size</th>
										</tr>
										<tr>
											<th rowspan="4">QuickCat</th>
										</tr>
										<tr>
											<td>912480</td>
											<td>Kawasaki FX651V</td>
											<td>48" SD</td>
										</tr>
										<tr>
											<td>912520</td>
											<td>Kawasaki FX691V</td>
											<td>52" SD</td>
										</tr>
										<tr>
											<td>912610</td>
											<td>Kawasaki FX730V</td>
											<td>61" SD</td>
										</tr>
									</table>
								</div>
								<br>
								<br>
								<div class="col-md-12" style="margin-top:10px;">
									<a href="" class="mowerBtn" style="text-align:center">
									Call Us (816-524-4222) to Learn More
								</a>
								</div>

							</div>
						</div>
						<br>
						<br>

						<!-- ProCat -->
						<div id="box2">
							<div class="heading-row">
								<h2 class="mower">The ProCat:</h2>
							</div>
							<br>
							<div class="">
								<div class="col-md-4">
									<img src="images/pro-cat-side.png" alt="" width="280" height="280" class="alignleft" />
								</div>
								<div class="col-md-8">
									<h3>Cut Grass. Slash Downtime.</h3>
									<br>
									<p>If you're ready to take your business to the next level, the ProCat is the machine to get you there.  Speeds up to 11.5 mph and new Zero-T drive tires devour challenging turf while the comfortable seat and intuitive controls keep you comfortable all the while.  Built for the serious profesional who demands as much from his machine as he puts into his business, the ProCat makes any terrain its domain.</p>
									<table class="mowerDetails">
										<tr class="bordBot">
											<th>Model</th>
											<th>Model #</th>
											<th>Engine Make</th>
											<th>Deck Size</th>
										</tr>
										<tr>
											<th rowspan="5">ProCat</th>
										</tr>
										<tr>
											<td>942532</td>
											<td>Kawasaki FX651V</td>
											<td>52" SD</td>
										</tr>
										<tr>
											<td>942533</td>
											<td>Kawasaki FX730V</td>
											<td>61" SD</td>
										</tr>
										<tr>
											<td>942535</td>
											<td>Kawasaki FX801V</td>
											<td>52" SD</td>
										</tr>
										<tr>
											<td>942534</td>
											<td>Kawasaki FX801V</td>
											<td>61" SD</td>
										</tr>
									</table>
								</div>
								<br>
								<br>
								<div class="col-md-12" style="margin-top:10px;">
									<a href="" class="mowerBtn" style="text-align:center">
									Call Us (816-524-4222) to Learn More
								</a>
								</div>
							</div>
						</div>
						<br>
						<br>
						
						</div>

					
<!-- these 2 close added -->
						</div>
						</div>
							
				
			<!-- 		<div class="entry">
						<h3 class="title">
							The Predator-Pro Features:
						</h3>
					</div> -->

		
						</div>
					</div>
				</div>
			</div>
			
			<div class="clearfix">&nbsp;</div>
		</div>
	</div>
</div>

