<div id="page" class="container">
					<div id="page-bgtop">
						<div id="page-bgbtm">
							<div id="content">
								<div class="post">
									<h2 class="title">Bledsoe Rentals Olath Kansas</h2>
									<div class="entry">
										<div id="box1">
											<h3 class="text1"></h3>
											<p class="text2"></p>
											<p><iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=208+W+Dennis+Ave,+Olathe,+KS&amp;aq=0&amp;oq=208+W+Dennis+A&amp;sll=38.85946,-94.374146&amp;sspn=0.028572,0.055747&amp;ie=UTF8&amp;hq=&amp;hnear=208+W+Dennis+Ave,+Olathe,+Johnson,+Kansas+66061&amp;t=m&amp;z=14&amp;ll=38.869315,-94.82143&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=208+W+Dennis+Ave,+Olathe,+KS&amp;aq=0&amp;oq=208+W+Dennis+A&amp;sll=38.85946,-94.374146&amp;sspn=0.028572,0.055747&amp;ie=UTF8&amp;hq=&amp;hnear=208+W+Dennis+Ave,+Olathe,+Johnson,+Kansas+66061&amp;t=m&amp;z=14&amp;ll=38.869315,-94.82143" style="color:#0000FF;text-align:left">View Larger Map</a></small>


												
											</div>
										</div>
									</div>
								</div>
								<div id="sidebar">
									<div id="box4">
										<h2>Store Information</h2>
										<div class="content">
											
											<ul class="style2">
												<li class="first"></li>
												<li>208 W. Dennis Ave.</li>
												<li>Olathe, KS 66061</li>
												<li>Store Manager: Adam Clark</li>
												<li>Asst. Store Manager: Rob Stone</li>
												<li>Phone: (913) 764-3337</li> 
												<li>Fax: (913) 764-2296</li>
												<li></li>
											</ul>
											
											<a href="/store-lsn" class="link-style3"><span>Lee's Summit North</span></a>
											<a href="/store-lss" class="link-style3"><span>Lee's Summit South </span></a>
											
										</div>
									</div>
									<div id="box5">
										
										
									</div>
									<div id="box6">
										
										<div>
											
											<div class="content">
												
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix">&nbsp;</div>
							</div>
						</div>
					</div>
				</div>