<div class="two-column2">
<div id="page" class="container">
				<div id="page-bgtop">
					<div id="page-bgbtm">
						<div id="content" class="col-md-8">
							<div class="post">
								<h2 class="title">PROPANE REFILLS / TANK SALES / RATES</h2>
								<div class="entry">
									<div id="box1">
										<h3 class="text1">Propane Refills! All Sizes and RV's!</h3>
										<p class="text2">REFILLING IS A BETTER VALUE THAN EXCHANGING</p>
										
										<ol>
											<li>Why would you exchange your propane tanks when you can have them refilled at a lower cost!</li>
											<li>Plus, most exchange grill tanks are not filled completely, with a net weight of only 15 to 17 pounds, even though they can be refilled to 20Lbs. At Bledsoe Rentals, all grill tanks are refilled to their maximum 20Lb capacity! That’s 1/3 more gas than you get from most exchange tanks for less money and longer grilling!</li>
											<li>Also, refilling your tank at Bledsoe Rentals guarantees that your tank will not be exchanged for a defective or older tank!</li>
											<li>We fill your tank in a matter of minutes! This means no more long waits while some store clerk looks for the keys to the exchange cage, and finally comes to help you!</li>
											<li>We fill Forklift and RV tanks too!</li>
											
										</ol>
										
									</div>
								</div>
                                <div class="entry">
									<div id="box1">
										<h3 class="text1">propane refill rates</h3>
										<p class="text2"></p>
                                 <table class="stats" cellspacing="0">      
                  
           <table class="stats" cellspacing="0">
            
            <td class="hed" colspan="1">Tank Size</td>
              <td class="hed" colspan="1">Cost (Before Taxes)</td>
              
               <tr><td class="scope">6lb</td>
              <td>$10.30</td></tr>
               <tr><td class="scope">10lb</td>
               <td>$13.30</td></tr>
              <tr><td class="scope">20lb</td><td>$20.42</td></tr>
              <tr><td class="scope">30lb</td>
              <td>$28.25</td></tr>
              <tr><td class="scope">33lb (Forklift)</td>
              <td>$30.30</td></tr>
              <tr><td class="scope">40lb</td>
              <td>$40.30</td></tr>
              <tr><td class="scope">100lb</td>
              <td>$87.80</td></tr>
              <tr><td class="scope">ASEM Fill (Motor home tanks)</td>
              <td>$3.95 per gallon</td></tr></table>
              </div>
								</div>
							</div>
						</div>
						<div id="sidebar" class="col-md-4">
							<div id="box4">
								<h2>Propane Coupon</h2>
								<div class="content">
									<a href="/images/propane.jpg" target="new"><img src="images/propane.jpg" alt="" width="260" height="130" /></a>
								</div>
							</div>
							<div id="box5">
								<h2>propane tank sales</h2>
								<div class="content">
									<ul class="style2">
										<li>$49.95 for 20 lb Gas grill sized tanks filled, purged, and ready for use at no additional charge!</li>
										<li>$199.95 for 100lb tanks</li>
                                        <li></li>
										<img src="images/protank.jpg" alt="" width="175" height="175" class="center" />
									</ul>
                                    
								</div>
							</div>
							
								
						</div>
						<div class="clearfix">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>