

				<div id="page" class="container">
					<div id="page-bgtop">
						<div id="page-bgbtm">
							<div id="content">
								<div class="post">

									<!-- Header based on category selected -->
									<h2 class='title' ng-if="currentCategory">{{currentCategory}}</h2>
									<h2 class='title' ng-if="!currentCategory">All Equipment</h2>



								<!-- 	<div class="animate-switch-container" ng-switch="currentCategory">

										<div class="animate-switch" ng-switch-when="Concrete"><h2 class="title">Concrete Grinding / Masonry / Concrete Buggy / Concrete Tools</h2></div>
										<div class="animate-switch" ng-switch-when="Drills & Hammers"><h2 class="title">Chipping Hammers / Core Drills / Jack Hammers / Rotary Hammers / Framing Nailers</h2></div>

										<!-- Default Category = All Equipment
										<div class="animate-switch" ng-switch-default><h2 class="title"> Equipment Rental Rates & New Equipment News</h2></div>
									</div> --> 

									<!-- NEED TO ADD OTHER CATEGORIES -->

									<div class="entry">
										<!-- <div class="box1">

										<!-- Images based on category selected -->

											<!-- 	<div ng-show="categoryFilter.Category == 'Concrete'">
													<div id="slideshow" class="container">
														<div class="viewer">
															<div class="reel">
																<div class="slide"><img src="/images/banner/concrete/30g1.jpg" width="610" height="320" alt="" />
																</div>							

																<div class="slide"><img src="/images/banner/concrete/30g2.jpg" width="610" height="320" alt="" />
																</div>	

																<div class="slide"><img src="/images/banner/concrete/canycom.jpg" width="610" height="220" alt="" />
														 		</div>

																<div class="slide"><img src="/images/banner/concrete/edco.jpg" width="610" height="220" alt="" />
																</div>	 	                                    										
															</div>
														</div>	
													</div>
												</div>
												<div ng-show="categoryFilter.Category == 'Drills & Hammers'">
													<div id="slideshow" class="container">
														<div class="viewer">
															<div class="reel">
																<div class="slide"><img src="/images/banner/drills/cts.jpg" width="610" height="220" alt="" />	
																</div>							

																<div class="slide"><img src="/images/banner/drills/core.jpg" width="610" height="220" alt="" />
																</div>	

															</div>
														</div>
													</div>
												</div> -->
												<!-- Default Category = All Equipment -->
												<!-- 		<div></div> -->

												<!-- </div> -->

												<div>
													<form name="searchForm">
														<h5 class="text2">Search {{groups.title}}: &nbsp; 
															<input type="text" name="findEquip" ng-model="query"/>
														</h5>	
														<!-- <button ng-click="clearSearch()">Clear</button> -->
													</form>
												</div>

												<table class="stats" cellspacing="0">
													<thead>
														<td class="hed" colspan="1" align="center">- <p></p></td>
														<td class="hed" colspan="1" align="center">Description <p></p></td>
														<td class="hed" colspan="1" align="center">Minimum (3 hrs) <p></p></td>
														<td class="hed" colspan="1" align="center">Daily <p></p></td>
														<td class="hed" colspan="1" align="center">Weekly <p></p></td>
											<!-- <th>&nbsp;</th>
											<th>&nbsp;</th> -->
										</thead>
										<tbody>
											<tr ng-repeat="product in products | orderBy: 'Name' | filter:currentCategory| filter:query | limitTo: 40" >
												<td>&nbsp;</td>
												<td>{{product.Name}}</td>

												<!-- using if to not display $0 if no value -->
												<td ng-if="product.ThreeHour">{{product.ThreeHour | currency}}</td>
												<td ng-if="!product.ThreeHour">&nbsp;</td>

												<td>{{product.Daily | currency}}</td>

												<!-- using if to not display $0 if no value -->
												<td ng-if="product.Weekly">{{product.Weekly | currency}}</td>
												<td ng-if="!product.Weekly">&nbsp;</td>

												<!-- <td>
													<a href="#">Edit</a>
												</td>
												<td>
													<a href="#">Remove</a>
												</td> -->
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div id="sidebar"> 
							<div id="box4"> 
								<div>

									<!-- Uncomment - to allow users to open more than one category at a time -->
									<!-- <label class="checkbox">
										<input type="checkbox" ng-model="oneAtATime">
										Open only one at a time
									</label> -->
									

									<h2>Rental Categories</h2>
									
									<div class="content">
										<ul class="style2">
											<li><a href="" ng-click="setCurrentCategory(); clearSearch()">All Equipment</a></li>
											<li ng-repeat="group in groups">
												<a href="" ng-click="setCurrentCategory(group.title); clearSearch()">
													{{group.title}}
												</a>
											</li>
										</ul>
									</div>

									<!-- <accordion close-others="oneAtATime">
										<br>
										<accordion-group heading="All Equipment" is-open=	"status.isFirstOpen" is-disabled="status.isFirstDisabled">
											<accordion-heading>
												<span ng-click="setCurrentCategory()">
													All Equipment
												</span>
											</accordion-heading>
												<li><a href="">All Equipment</a></li>
										</accordion-group>

										<accordion-group ng-repeat="group in groups">
											<accordion-heading>
												<span ng-click="setCurrentCategory(group.title)">
													{{group.title}} 
												</span>
											</accordion-heading>
											<li ng-click="setCurrentCategory(group.title)" ng-repeat="contents in group.content"><a href="">{{contents.name}}</a></li>				
										</accordion-group>
									</accordion> -->
								
								</div>
									
								</div>
								<div id="box6">
							<h2></h2>
									<div>	
									</div>
								</div>
							</div>
							<div class="clearfix">&nbsp;</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	 <!-- <script src="scripts/jquery-1.7.1.min.js"></script> -->
   <!-- // <script src="scripts/jquery.slidertron-0.2.1.js"></script> -->
   <!-- // <script src="scripts/init.js"></script> -->
  <!--  // <script src="scripts/ui-bootstrap-custom-tpls-0.12.1.js"></script> -->


